/**
 * app/scss/base-style/divider/default
 * Default divider styles.
 * @author Keenan Staffieri
*/

/* --- placeholder selectors ------------------------------ */

// --- Divider --------------------------------------------
%divider {
  margin: 60px 0;
  border: 0;
  border-bottom: 1px solid color('gray-light');
}
