/**
 * code/block
 * Code block styles.
 * @author Keenan Staffieri
*/

/* --- placeholder selectors ------------------------------ */

%code-block {
    padding: 8px 10px 6px 10px;
    color: white;
    background-color: color('gray');
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 14px;
}


/* --- generic extends ------------------------------------ */

pre { @extend %code-block; }
