/**
 * app/scss/util/helpers
 * Extendable helper placeholders & mixins.
 * @author Keenan Staffieri
 */

/**
  Apply clearfixing styles to element.
 */
%clearfix {
  @include clearfix();
}

/**
  Add outer container.
 */
%outer-container {
  @include outer-container;
}

/**
  Clear out list styles, margin, and padding on list items.
 */
@mixin clear-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

%clear-list { @include clear-list; }

/**
  Apply font antialiasing.
 */
@mixin font-aa {
  -webkit-font-smoothing: antialiased;
}

/**
  Apply font optimize legibility.
 */
@mixin optimizeLegibility {
  text-rendering: optimizeLegibility;
}
