/**
 * master
 * All application styles are imported here.
 * @author Keenan Staffieri
*/

/* --- Bourbon & Neat --- */

// Bourbon
@import '../../node_modules/bourbon/app/assets/stylesheets/bourbon';

// Neat
@import '../../node_modules/bourbon-neat/app/assets/stylesheets/neat';


/* --- normalize --- */
@import '../../node_modules/normalize.css/normalize';


/* --- variables --- */
@import 'variable/_include';


/* --- utilities --- */
@import 'util/_include';


/* --- generic styles --- */

body {
    color: $fontColor--base;
    font-family: $fontFamily--base;
    font-weight: 500;
    background-color: $pageBgColor;
}


/* --- typography --- */
@import 'base-style/typography/_include';


/* --- code --- */
@import 'base-style/code/_include';


/* --- tables --- */
@import 'base-style/table/_include';


/* --- buttons --- */
@import 'base-style/button/_include';


/* --- forms --- */
@import 'base-style/form/_include';


/* --- partials --- */
@import 'partial/header/_include',
        'partial/footer/_include';


/* --- page-specific styles --- */
@import 'page/404',
        'page/index';
