/**
 * master.css
 * All application styles are imported here.
*/

/* --- Bourbon & Neat --- */

// Bourbon
@import '../../node_modules/bourbon/app/assets/stylesheets/bourbon';

// Neat
@import '../../node_modules/bourbon-neat/app/assets/stylesheets/neat';


/* --- normalize --- */
@import '../../node_modules/normalize.css/normalize';


/* --- theme settings --- */
@import 'variables/_base';


/* --- helpers --- */
@import 'util/helpers';


/* --- generic styles --- */

body {
    color: $fontColor--base;
    font-family: $fontFamily--base;
    background-color: $bgColor;
}


/* --- typography --- */
@import 'base-styles/typography/_base';


/* --- code --- */
@import 'base-styles/code/_base';


/* --- tables --- */
@import 'base-styles/tables/_base';


/* --- components --- */
@import 'base-styles/buttons/_base',
        'partials/header/_base',
        'partials/footer/_base';


/* --- pages styles --- */
@import 'pages/404',
        'pages/index';
