@import '../../../../../scss/component/component';

.Item {
  margin: 0;

  > a {
    display: block;
    padding: 20px 15px;
    color: color('silver');
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
    transition: color 300ms $ease-out-cubic;
  }

  > a:hover {
    color: color('white');
  }
}

.ActiveItem {
  margin: 15px 0;

  > a {
    color: color('black-lt');
    background: linear-gradient(to right, color('silver-lt'), color('white'));
    border: 1px solid color('white');
    border-right: none;
    text-shadow: none;
  }

  > a:hover { color: color('black-lt'); }
}
