/**
 * code/block
 * Code block styles.
*/

/*
    Placeholder styles
*/

%code-block {
    padding: 8px 10px 6px 10px;
    background-color: color('mist');
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 14px;
}


/*
    Generic extends
*/

pre { @extend %code-block; }
