{# Scripts #}

<!-- build:js(./node_modules) js/vendor.js -->
<script type="text/javascript" src="jquery/public/jquery.js"></script>
<script type="text/javascript" src="prismjs/prism.js"></script>
<script type="text/javascript" src="clipboard/public/clipboard.js"></script>
<!-- endbuild -->

<!-- build:js js/styleguide.js -->
<script type="text/javascript" src="js/styleguide/component/Component.js"></script>
<script type="text/javascript" src="js/styleguide/component/TopNav.js"></script>
<script type="text/javascript" src="js/styleguide/component/ModeSwitch.js"></script>
<script type="text/javascript" src="js/styleguide/component/BackToTop.js"></script>
<script type="text/javascript" src="js/styleguide/styleguide.js"></script>
<!-- endbuild -->
