<div class="sg-element-section">

  {% if opts.heading %}
    <h3>{{ opts.heading }}</h3>
  {% endif %}

  {% if opts.description %}
    <p>{{ opts.description }}</p>
  {% endif %}

  {% if opts.heading or opts.description %}
    <hr>
  {% endif %}

  {% if opts.exampleCode %}
    <div class="sg-example">
      <div class="sg-example-inner">
        <h5 class="sg-example-heading">Example</h5>
        {{ opts.exampleCode }}
      </div>
      <div class="sg-example-code">
        {# <pre class="copytoclipboard"><code class="language-markup"><script type="prism-html-markup">{{ exampleCode | respectNewlines }}</script></code></pre> #}
        <pre class="copytoclipboard"><code class="language-markup"><script type="prism-html-markup">{{ opts.exampleCode }}</script></code></pre>
      </div>
    </div> {# .sg-example #}
  {% endif %}

  {% if opts.subsections %}
    {% for subsection in opts.subsections %}
      {% if subsection.heading %}
        <h4>{{ subsection.heading }}</h4>
      {% endif %}

      {% if subsection.description %}
        <p>{{ subsection.description }}</p>
      {% endif %}

      {% if subsection.exampleCode %}
        <div class="sg-example">
          <div class="sg-example-inner">
            <h5 class="sg-example-heading">Example</h5>
            {{ subsection.exampleCode }}
          </div>
          <div class="sg-example-code">
            {# <pre class="copytoclipboard"><code class="language-markup"><script type="prism-html-markup">{{ subsection.exampleCode | respectNewlines }}</script></code></pre> #}
            <pre class="copytoclipboard"><code class="language-markup"><script type="prism-html-markup">{{ subsection.exampleCode }}</script></code></pre>
          </div>
        </div> {# .sg-example #}
      {% endif %}
    {% endfor %}
  {% endif %}

</div> {# .sg-element-section #}
