/**
 * app/scss/base-style/form/input
 * Form input styles.
 * @author Keenan Staffieri
*/

/* --- placeholder selectors ------------------------------ */

// --- Input ----------------------------------------------
%input {
  min-width: 300px;
  margin: 5px 0;
  padding: 15px;
  color: #3a3a3a;
  font-size: 13px;
  border: 1px solid #dedede;
  @include font-aa;

  &[disabled] {
    background-color: #eee;
    cursor: not-allowed;
  }

  &[readonly] {
    cursor: not-allowed;
  }
}
