/**
 * app/scss/base-style/form/select
 * Form select styles.
 * @author Keenan Staffieri
*/

/* --- placeholder selectors ------------------------------ */

%select {
  margin: 5px 0;
  @include size(100% 35px);
  max-width: 300px;
  border: 1px solid color('gray');
  border-radius: 0;
}

%select-multiple {
  height: auto;
  overflow: scroll;
}
