{% extends 'view/layout/layout-styleguide.njk' %}

{% block content %}

    <div class="sg-page-wrap">

        {# 1. Color Palette #}
        {% include 'view/styleguide/section/colors.njk' %}

        {# 2. Fonts #}
        {% include 'view/styleguide/section/fonts.njk' %}

        {# 3. Grid #}
        {% include 'view/styleguide/section/grid.njk' %}

        {# 4. Typography #}
        {% include 'view/styleguide/section/typography.njk' %}

        {# 5. Buttons #}
        {% include 'view/styleguide/section/buttons.njk' %}

        {# 6. Code #}
        {% include 'view/styleguide/section/code.njk' %}

        {# 7. Tables #}
        {% include 'view/styleguide/section/tables.njk' %}

        {# 8. Controls #}
        {% include 'view/styleguide/section/controls.njk' %}

        {# 9. Forms #}
        {% include 'view/styleguide/section/forms.njk' %}

    </div> {# .sg-page-wrap #}

    <a href="javascript:void(0)" id="sg-backtotop" class="sg-backtotop">
        {% include 'view/styleguide/icon/arrow.svg' %}
    </a>

{% endblock %}
