{% extends 'view/layout/layout.njk' %}

{% block content %}

  <div class="sg-page-wrap">

    {# 1. Color Palette #}
    {{ render.section('colors') }}

    {# 2. Fonts #}
    {{ render.section('fonts') }}

    {# 3. Grid #}
    {{ render.section('grid') }}

    {# 4. Typography #}
    {{ render.section('typography') }}

    {# 5. Buttons #}
    {{ render.section('buttons') }}

    {# 6. Code #}
    {{ render.section('code') }}

    {# 7. Tables #}
    {{ render.section('tables') }}

    {# 8. Controls #}
    {# {% include 'view/section/controls.njk' %} #}

    {# 9. Forms #}
    {# {% include 'view/section/forms.njk' %} #}

  </div> {# .sg-page-wrap #}

  <a href="javascript:void(0)" id="sg-backtotop" class="sg-backtotop">
    {# {% include 'view/icon/arrow.svg' %} #}
  </a>

{% endblock %}
