/**
 * master.css
 * All application styles are imported from here.
*/

/* --- variables --- */

$bgColor:   #eee;
$fontColor: #333;
$logoColor: #555;


/* --- generic styles --- */

body {
    color: $fontColor;
    background-color: $bgColor;
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    color: $logoColor;
    font-size: 60px;
    text-align: center;
    letter-spacing: 3px;
}


/* --- helper classes --- */

.inner-container {
    @neat-outer-container;
}

.text-center {
    text-align: center;
}


/* --- pages styles --- */
@import 'pages/index';
