/**
 * scss/component/copy/copy-a
 * Copy-A component styles.
 * @author Keenan Staffieri
*/

.component-copy-a {
    padding-top: 80px;
    text-align: center;

    &__container {
        @extend %component-container;
    }

    &__eyebrow {

    }

    &__content {
        @extend %body-copy;
        max-width: 740px;
        margin: 15px auto 20px auto;
    }

    &__headline {
        @extend %headline-3;
        margin-bottom: 10px;
        margin-top: 20px;
        position: relative;
    }

    &__link {
        display: inline-block;
        margin-top: 5px;

        @include media($x-small-down) {
            display: block;
        }

        &--two {
            margin-left: 80px;

            @include media($x-small-down) {
                margin-left: 0;
            }
        }
    }
}