<!DOCTYPE html>
<html>
    <head>
        {# Head #}
        {% include 'partial/head.njk' %}

        {% include 'styleguide/partial/stylesheets.njk' %}
    </head>
    <body>

        {# Header #}
        {% include 'styleguide/partial/header.njk' %}

        {# Content #}
        {% block content %}{% endblock %}

        {# Footer #}
        {% include 'styleguide/partial/footer.njk' %}

        {# Scripts #}
        {% include 'styleguide/partial/scripts.njk' %}

    </body>
</html>
