<!DOCTYPE html>
<html>
    <head>
        {# Head #}
        {% include 'partial/head.njk' %}

        {% include 'partial/stylesheets.njk' %}
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

        {# Header #}
        {% include 'partial/header.njk' %}

        {# Content #}
        {% block content %}{% endblock %}

        {# Footer #}
        {% include 'partial/footer.njk' %}

        {# Scripts #}
        {% include 'partial/scripts.njk' %}
        {% block scripts %}{% endblock %}

    </body>
</html>
