{% import 'macro/render.njk' as render %}
<!DOCTYPE html>
<html>
  <head>
    {{ render.partial('head') }}
    {{ render.partial('stylesheets') }}
    {% block stylesheets %}{% endblock %}
  </head>
  <body>
    {# Header #}
    {{ render.partial('header') }}

    {# Content #}
    {% block content %}{% endblock %}

    {# Footer #}
    {{ render.partial('footer') }}

    {# Scripts #}
    {{ render.partial('scripts') }}
    {% block scripts %}{% endblock %}
  </body>
</html>
