/**
 * base-styles/forms/radio
 * Form radio styles.
 * @author Keenan Staffieri
*/

/* --- placeholder selectors ------------------------------ */

%radio {
    margin: 5px 0;

    input {
        margin: 0 5px 0 0;
    }
}

%radio-inline {
    margin-right: 20px;

    &:last-child {
        margin-right: 0;
    }
}


/* --- generic extends ------------------------------------ */

.radio { @extend %radio; }
.radio--inline { @extend %radio-inline; }
