{#
  Page: Nesty Deep
  ---------------------------------------------
  Reference: nesty-deep
  app/view/page/nested/deeper/nesty-deep
  @author Keenan Staffieri
#}

{% extends 'layout/layout.njk' %}

{# --- additional stylesheets ----------------------------- #}

{% block stylesheets %}
<link rel="stylesheet" href="css/page/nested/deeper/nesty-deep.css">
{% endblock %}

{# --- content -------------------------------------------- #}

{% block content %}

<div class="page-wrap page-wrap--nesty-deep" data-page-ref="nesty-deep" data-page-name="Nesty Deep">

  {# Component: Copy Block #}
  {{ render.component('copy-block', {
    heading: 'Hello, World!',
    content: '<p>Say "Hello" to the first-ever component!</p>'
  }) }}

</div> {# .page-wrap--nesty-deep #}

{% endblock %}

{# --- additional scripts --------------------------------- #}

{% block scripts %}
<!-- build:js /js/page/nested/deeper/nesty-deep.js -->
<script type="text/javascript" src="/js/component/_base/Component.js"></script>
<script type="text/javascript" src="/js/page/nested/deeper/nesty-deep.js"></script>
<!-- endbuild -->
{% endblock %}
