{#
    Page: <%= PAGE_NAME =%>
    ---------------------------------------------
    Reference: <%= PAGE_REF =%>
    @author Keenan Staffieri
#}

<div class="v-page v-page-<%= PAGE_REF =%>" data-page-ref="<%= PAGE_REF =%>" data-page-name="<%= PAGE_NAME =%>">

    {# Component: Copy-A #}
    {% include 'component/copy/copy-a.html' with {
        eyebrow: 'Testing...',
        headline: 'Component Test.',
        content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, cupiditate!',
    } only %}

</div> {# .v-page-<%= PAGE_REF =%> #}
