{# Main Footer #}
<footer class="footer">
  <div class="footer__container">
    <small class="footer__copyright">
      &copy; Copyright 2016 Keenan Staffieri
    </small>
  </div> {# __container #}
</footer> {# .footer #}
