{# Main Footer #}
<footer class="footer">
  <div class="footer__container">
    <span class="footer__copyright">
        &copy; Copyright 2016 Keenan Staffieri
    </span>
  </div>
</footer> {# .footer #}
