<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>Silvvr Admin</title>

<meta name="description" content="Silvvr administration tool.">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
