{# Scripts #}
<script>
  var apiUrl = 'http://localhost:9000/';
</script>

<script type="text/javascript" src="jquery/dist/jquery.js"></script>
<script type="text/javascript" src="react/dist/react.js"></script>
<script type="text/javascript" src="react-dom/dist/react-dom.js"></script>

{# <script type="text/javascript" src="admin/js/admin.js"></script> #}
{# <script type="text/javascript" src="admin/js/bundle.js"></script> #}
<script src="http://localhost:8000/webpack-dev-server.js"></script>
<script src="http://localhost:8000/admin/js/bundle.js"></script>
