{# Scripts #}
<script>
  var apiUrl = 'http://localhost:9000/';
</script>

<!-- build:js(./node_modules) js/vendor.js -->
<script src="jquery/dist/jquery.js"></script>
<!-- endbuild -->

<script src="js/admin.js"></script>
