{% import 'view/macro/render.njk' as render %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<title>{{ opts.title }}</title>

<meta name="description" content="{{ opts.description }}">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">

{{ render.partial('favicons') }}
