@import '../../../scss/component/component';

.Container {
  flex-basis: 200px;
  padding-left: 20px;
  height: calc(100vh - 40px);
  background: linear-gradient(to right, color('blue-dk') 50%, shade(color('blue-dk'), 20%));
}
