{% macro partial(templatePath, opts) %}
  {% include 'view/partial/' + templatePath + '.njk' %}
{% endmacro %}

{% macro section(templatePath, opts) %}
  {% include 'view/section/' + templatePath + '.njk' %}
{% endmacro %}
