<div class="sg-element-section">

  {% if heading %}
    <h3>{{ heading }}</h3>
  {% endif %}

  {% if description %}
    <p>{{ description }}</p>
  {% endif %}

  {% if heading || description %}
    <hr>
  {% endif %}

  {% if exampleCode %}
    <div class="sg-example">
      <div class="sg-example-inner">
        <h5 class="sg-example-heading">Example</h5>
        {{ exampleCode }}
      </div>
      <div class="sg-example-code">
        <pre class="copytoclipboard"><code class="language-markup"><script type="prism-html-markup">{{ exampleCode | respectNewlines }}</script></code></pre>
      </div>
    </div>
  {% endif %}

  {% if subsections %}
    {% for subsection in subsections %}
      {% if subsection.heading %}
        <h4>{{ subsection.heading }}</h4>
      {% endif %}

      {% if subsection.description %}
        <p>{{ subsection.description }}</p>
      {% endif %}

      {% if subsection.exampleCode %}
        <div class="sg-example">
          <div class="sg-example-inner">
            <h5 class="sg-example-heading">Example</h5>
            {{ subsection.exampleCode }}
          </div>
          <div class="sg-example-code">
            <pre class="copytoclipboard"><code class="language-markup"><script type="prism-html-markup">{{ subsection.exampleCode | respectNewlines }}</script></code></pre>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}

</div>
