<section class="sg-section">

    <div class="sg-container">

        <h2 class="heading-section">2. Fonts</h2>

        <div class="sg-element-section">

            <h3>Avenir</h3>
            <hr>

            <div class="sg-example">
                <div class="sg-example-inner">
                    <h5 class="sg-example-heading">Example</h5>
                    <p class="lead" style="font-weight: 400;">Avenir Next Regular 400</p>
                    <p class="lead" style="font-weight: 500;">Avenir Next Medium 500</p>
                    <p class="lead" style="font-weight: 700;">Avenir Next Bold 700</p>
                    <p class="lead" style="font-weight: 800;">Avenir Next Heavy 800</p>
                </div>
            </div>

        </div>

    </div>

</section>
