<section class="sg-section">

    <div class="sg-container">

        <h2 class="heading-section">4. Typography</h2>
        {# <a href="#">Preview all Typography</a> #}

        <div class="sg-element-section">

            <h3>Headings</h3>
            <p>All heading styles, <code>&lt;h1&gt;</code> through <code>&lt;h6&gt;</code>.</p>
            <hr>
            <div class="sg-example">
                <div class="sg-example-inner">
                    <h5 class="sg-example-heading">Example</h5>
                    <h1>Heading 1</h1>
                    <h2>Heading 2</h2>
                    <h3>Heading 3</h3>
                    <h4>Heading 4</h4>
                    <h5>Heading 5</h5>
                    <h6>Heading 6</h6>
                </div>
                <div class="sg-example-code">
                    <pre class="copytoclipboard"><code class="language-markup"><script type="prism-html-markup"><h1>Heading 1</h1>
<h2>Heading 2</h2>
<h3>Heading 3</h3>
<h4>Heading 4</h4>
<h5>Heading 5</h5>
<h6>Heading 6</h6></script></code></pre>
                </div>
            </div>

        </div>

        <div class="sg-element-section">

            <h3>Body Copy</h3>
            <p>Default body copy <code>font-size</code> is <code>16px</code> and is applied to the <code>&lt;body&gt;</code> and all <code>&lt;p&gt;</code> elements.</p>
            <hr>
            <div class="sg-example">
                <div class="sg-example-inner">
                    <h5 class="sg-example-heading">Example</h5>
                    <p>This is a single line of body copy.</p>
                    <p>This body copy spans multiple lines. Est delectus minima cupiditate explicabo molestiae alias culpa dolores, nisi quasi a quam minus. Error perspiciatis, dolor rem harum excepturi natus facere reprehenderit deserunt. Quas architecto magni eius voluptatum quos, aperiam modi accusantium quaerat illo repellendus expedita, rem voluptas at assumenda natus quo nisi repellat asperiores porro recusandae doloribus quae.</p>
                </div>
                <div class="sg-example-code">
                    <pre class="copytoclipboard"><code class="language-markup"><script type="prism-html-markup"><p>This is a single line of body copy.</p>
<p>This body copy spans multiple lines. Est delectus minima cupiditate explicabo molestiae alias culpa dolores, nisi quasi a quam minus. Error perspiciatis, dolor rem harum excepturi natus facere reprehenderit deserunt. Quas architecto magni eius voluptatum quos, aperiam modi accusantium quaerat illo repellendus expedita, rem voluptas at assumenda natus quo nisi repellat asperiores porro recusandae doloribus quae.</p></script></code></pre>
                </div>
            </div>

            <h4>Lead Body Copy</h4>
            <p>Make a paragraph stand out from the rest.</p>

            <div class="sg-example">
                <div class="sg-example-inner">
                    <h5 class="sg-example-heading">Example</h5>
                    <p class="lead">This is a single line of lead body copy.</p>
                    <p class="lead">This body lead copy spans multiple lines. Est delectus minima cupiditate explicabo molestiae alias culpa dolores, nisi quasi a quam minus. Error perspiciatis, dolor rem harum excepturi natus facere reprehenderit deserunt.</p>
                </div>
                <div class="sg-example-code">
                    <pre class="copytoclipboard"><code class="language-markup"><script type="prism-html-markup"><p class="lead">This is a single line of lead body copy.</p>
<p class="lead">This body lead copy spans multiple lines. Est delectus minima cupiditate explicabo molestiae alias culpa dolores, nisi quasi a quam minus. Error perspiciatis, dolor rem harum excepturi natus facere reprehenderit deserunt.</p></script></code></pre>
                </div>
            </div>

        </div>

        <div class="sg-element-section">

            <h3>Links</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, nisi.</p>
            <hr>

            <h4>Inline Link</h4>
            <div class="sg-example">
                <div class="sg-example-inner">
                    <h5 class="sg-example-heading">Example</h5>
                    <p>Click <a href="http://google.com" target="_blank">here</a> for Google.</p>
                </div>
                <div class="sg-example-code">
                    <pre class="copytoclipboard"><code class="language-markup"><script type="prism-html-markup"><p>Click <a href="http://google.com" target="_blank">here</a> for Google.</p></script></code></pre>
                </div>
            </div>

        </div>

        <div class="sg-element-section">

            <h3>Inline Text Elements</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, quasi.</p>
            <hr>

            <h4>Marked Text</h4>
            <p>For highlighting a run of text due to its relevance in another context, use the <code>&lt;mark&gt;</code> tag.</p>
            <div class="sg-example">
                <div class="sg-example-inner">
                    <h5 class="sg-example-heading">Example</h5>
                    <p>You can use the mark tag to <mark>highlight</mark> text.</p>
                </div>
                <div class="sg-example-code">
                    <pre class="copytoclipboard"><code class="language-markup"><script type="prism-html-markup"><p>You can use the mark tag to <mark>highlight</mark> text.</p></script></code></pre>
                </div>
            </div>

            <h4>Deleted Text</h4>
            <p>For indicating blocks of text that have been deleted use the <code>&lt;del&gt;</code> tag.</p>
            <div class="sg-example">
                <div class="sg-example-inner">
                    <h5 class="sg-example-heading">Example</h5>
                    <p><del>This line of text is meant to be treated as deleted text.</del></p>
                </div>
                <div class="sg-example-code">
                    <pre class="copytoclipboard"><code class="language-markup"><script type="prism-html-markup"><p><del>This line of text is meant to be treated as deleted text.</del></p></script></code></pre>
                </div>
            </div>

            <h4>Strikethrough Text</h4>
            <p>For indicating blocks of text that are no longer relevant use the <code>&lt;s&gt;</code> tag.</p>
            <div class="sg-example">
                <div class="sg-example-inner">
                    <h5 class="sg-example-heading">Example</h5>
                    <p><s>This line of text is meant to be treated as no longer accurate.</s></p>
                </div>
                <div class="sg-example-code">
                    <pre class="copytoclipboard"><code class="language-markup"><script type="prism-html-markup"><p><s>This line of text is meant to be treated as no longer accurate.</s></p></script></code></pre>
                </div>
            </div>

            <h4>Inserted Text</h4>
            <p>For indicating additions to the document use the <code>&lt;ins&gt;</code> tag.</p>
            <div class="sg-example">
                <div class="sg-example-inner">
                    <h5 class="sg-example-heading">Example</h5>
                    <p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>
                </div>
                <div class="sg-example-code">
                    <pre class="copytoclipboard"><code class="language-markup"><script type="prism-html-markup"><p><ins>This line of text is meant to be treated as an addition to the document.</ins></p></script></code></pre>
                </div>
            </div>

            <h4>Underlined Text</h4>
            <p>To underline text use the <code>&lt;u&gt;</code> tag.</p>
            <div class="sg-example">
                <div class="sg-example-inner">
                    <h5 class="sg-example-heading">Example</h5>
                    <p><u>This line of text will render as underlined</u></p>
                </div>
                <div class="sg-example-code">
                    <pre class="copytoclipboard"><code class="language-markup"><script type="prism-html-markup"><p><u>This line of text will render as underlined</u></p></script></code></pre>
                </div>
            </div>

            <h4>Small Text</h4>
            <p>For de-emphasizing inline or blocks of text, use the <code>&lt;small&gt;</code> tag</p>
            <div class="sg-example">
                <div class="sg-example-inner">
                    <h5 class="sg-example-heading">Example</h5>
                    <p><small>This line of text is meant to be treated as fine print.</small></p>
                </div>
                <div class="sg-example-code">
                    <pre class="copytoclipboard"><code class="language-markup"><script type="prism-html-markup"><p><small>This line of text is meant to be treated as fine print.</small></p></script></code></pre>
                </div>
            </div>

            <h4>Bold Text</h4>
            <p>For emphasizing a snippet of text with a heavier font-weight.</p>
            <div class="sg-example">
                <div class="sg-example-inner">
                    <h5 class="sg-example-heading">Example</h5>
                    <p><strong>rendered as bold text</strong></p>
                </div>
                <div class="sg-example-code">
                    <pre class="copytoclipboard"><code class="language-markup"><script type="prism-html-markup"><p><strong>rendered as bold text</strong></p></script></code></pre>
                </div>
            </div>

            <h4>Italic Text</h4>
            <p>For emphasizing a snippet of text with italics.</p>
            <div class="sg-example">
                <div class="sg-example-inner">
                    <h5 class="sg-example-heading">Example</h5>
                    <p><em>rendered as italicized text</em></p>
                </div>
                <div class="sg-example-code">
                    <pre class="copytoclipboard"><code class="language-markup"><script type="prism-html-markup"><p><em>rendered as italicized text</em></p></script></code></pre>
                </div>
            </div>

            <p><small>Feel free to use <code>&lt;b&gt;</code> and <code>&lt;i&gt;</code> in HTML5. <code>&lt;b&gt;</code> is meant to highlight words or phrases without conveying additional importance while <code>&lt;i&gt;</code> is mostly for voice, technical terms, etc.</small></p>


            <h4>Abbreviated Text</h4>
            <p>Stylized implementation of HTML's <code>&lt;abbr&gt;</code> element for abbreviations and acronyms to show the expanded version on hover. Abbreviations with a title attribute have a light dotted bottom border and a help cursor on hover, providing additional context on hover and to users of assistive technologies.</p>
            <div class="sg-example">
                <div class="sg-example-inner">
                    <h5 class="sg-example-heading">Example</h5>
                    <p><abbr title="Compact Disk">CD</abbr></p>
                </div>
                <div class="sg-example-code">
                    <pre class="copytoclipboard"><code class="language-markup"><script type="prism-html-markup"><p><abbr title="Compact Disk">CD</abbr></p></script></code></pre>
                </div>
            </div>

            <h4>Cited Text</h4>
            <p>Use the <code>&lt;cite&gt;</code> to attribute a source.</p>
            <div class="sg-example">
                <div class="sg-example-inner">
                    <h5 class="sg-example-heading">Example</h5>
                    <p><cite title="Source Title">Source Title</cite></p>
                </div>
                <div class="sg-example-code">
                    <pre class="copytoclipboard"><code class="language-markup"><script type="prism-html-markup"><p><cite title="Source Title">Source Title</cite></p></script></code></pre>
                </div>
            </div>

        </div>

        <div class="sg-element-section">

            <h3>Address</h3>
            <p>Present contact information for the nearest ancestor or the entire body of work.</p>
            <hr>
            <div class="sg-example">
                <div class="sg-example-inner">
                    <h5 class="sg-example-heading">Example</h5>
                    <address>
                        <strong>Mr. Example</strong><br>
                        555 Orange Road<br>
                        San Diego, CA 55555<br>
                        <abbr title="Phone">P:</abbr> (555) 555-5555
                    </address>
                </div>
                <div class="sg-example-code">
                    <pre class="copytoclipboard"><code class="language-markup"><script type="prism-html-markup"><address>
<strong>Mr. Example</strong><br>
555 Orange Road<br>
San Diego, CA 55555<br>
<abbr title="Phone">P:</abbr> (555) 555-5555
</address></script></code></pre>
                </div>
            </div>

        </div>

        <div class="sg-element-section">

            <h3>Blockquotes</h3>
            <p>For quoting blocks of content from another source within your document.</p>
            <hr>
            <div class="sg-example">
                <div class="sg-example-inner">
                    <h5 class="sg-example-heading">Example</h5>
                    <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                    </blockquote>
                </div>
                <div class="sg-example-code">
                    <pre class="copytoclipboard"><code class="language-markup"><script type="prism-html-markup"><blockquote>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
</blockquote></script></code></pre>
                </div>
            </div>

            <h4>Naming a source</h4>
            <p>Add a <code>&lt;footer&gt;</code> for identifying the source. Wrap the name of the source work in <code>&lt;cite&gt;</code>.</p>
            <div class="sg-example">
                <div class="sg-example-inner">
                    <h5 class="sg-example-heading">Example</h5>
                    <blockquote>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                    </blockquote>
                </div>
                <div class="sg-example-code">
                    <pre class="copytoclipboard"><code class="language-markup"><script type="prism-html-markup"><blockquote>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
<footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
</blockquote></script></code></pre>
                </div>
            </div>

        </div>

        <div class="sg-element-section">

            <h3>Lists</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, commodi!</p>
            <hr>

            <h4>Unordered</h4>
            <p>A list of items in which the order does <em>not</em> explicitly matter.</p>
            <div class="sg-example">
                <div class="sg-example-inner">
                    <h5 class="sg-example-heading">Example</h5>
                    <ul>
                        <li>
                            Lorem ipsum dolor sit amet.
                            <ul>
                                <li>Subitem</li>
                            </ul>
                        </li>
                        <li>Lorem ipsum dolor sit amet, consectetur.</li>
                        <li>Lorem ipsum dolor.</li>
                    </ul>
                </div>
                <div class="sg-example-code">
                    <pre class="copytoclipboard"><code class="language-markup"><script type="prism-html-markup"><ul>
<li>
    Lorem ipsum dolor sit amet.
    <ul>
        <li>Subitem</li>
    </ul>
    </li>
    <li>Lorem ipsum dolor sit amet, consectetur.</li>
    <li>Lorem ipsum dolor.</li>
</ul></script></code></pre>
                </div>
            </div>

            <h4>Ordered</h4>
            <p>A list of items in which the order <em>does</em> explicitly matter.</p>
            <div class="sg-example">
                <div class="sg-example-inner">
                    <h5 class="sg-example-heading">Example</h5>
                    <ol>
                        <li>
                            Lorem ipsum dolor sit amet.
                            <ol>
                                <li>Subitem</li>
                            </ol>
                        </li>
                        <li>Lorem ipsum dolor sit amet, consectetur.</li>
                        <li>Lorem ipsum dolor.</li>
                    </ol>
                </div>
                <div class="sg-example-code">
                    <pre class="copytoclipboard"><code class="language-markup"><script type="prism-html-markup"><ol>
    <li>
    Lorem ipsum dolor sit amet.
    <ol>
        <li>Subitem</li>
    </ol>
    </li>
    <li>Lorem ipsum dolor sit amet, consectetur.</li>
    <li>Lorem ipsum dolor.</li>
</ol></script></code></pre>
                </div>
            </div>

            <h4 class="list-unstyled">Unstyled</h4>
            <p>Remove default list styling.</p>
            <div class="sg-example">
                <div class="sg-example-inner">
                    <h5 class="sg-example-heading">Example</h5>
                    <ul class="list-unstyled">
                        <li>
                            Lorem ipsum dolor sit amet.
                            <ul>
                                <li>Subitem</li>
                            </ul>
                        </li>
                        <li>Lorem ipsum dolor sit amet, consectetur.</li>
                        <li>Lorem ipsum dolor.</li>
                    </ul>
                </div>
                <div class="sg-example-code">
                    <pre class="copytoclipboard"><code class="language-markup"><script type="prism-html-markup"><ul class="list-unstyled">
    <li>
    Lorem ipsum dolor sit amet.
    <ul>
        <li>Subitem</li>
    </ul>
    </li>
    <li>Lorem ipsum dolor sit amet, consectetur.</li>
    <li>Lorem ipsum dolor.</li>
</ul></script></code></pre>
                </div>
            </div>

            <h4>Inline</h4>
            <p>Place all list items on a single line.</p>
            <div class="sg-example">
                <div class="sg-example-inner">
                    <h5 class="sg-example-heading">Example</h5>
                    <ul class="list-inline">
                        <li>Item 1</li>
                        <li>Item 2</li>
                        <li>Item 3</li>
                    </ul>
                </div>
                <div class="sg-example-code">
                    <pre class="copytoclipboard"><code class="language-markup"><script type="prism-html-markup"><ul class="list-inline">
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
</ul></script></code></pre>
                </div>
            </div>

            <h5>Modifiers</h5>

            <h6>Condensed</h6>
            <div class="sg-example">
                <div class="sg-example-inner">
                    <h5 class="sg-example-heading">Example</h5>
                    <ul class="list--condensed">
                        <li>Item 1</li>
                        <li>Item 2</li>
                        <li>Item 3</li>
                    </ul>

                    <ol class="list--condensed">
                        <li>Item 1</li>
                        <li>Item 2</li>
                        <li>Item 3</li>
                    </ol>
                </div>
                <div class="sg-example-code">
                    <pre class="copytoclipboard"><code class="language-markup"><script type="prism-html-markup"><ul class="list--condensed">
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
</ul>

<ol class="list--condensed">
    <li>Item 1</li>
    <li>Item 2</li>
    <li>Item 3</li>
</ol></script></code></pre>
                </div>
            </div>

        </div>


        <div class="sg-element-section">

            <h3>Description</h3>
            <p>A list of terms with their associated descriptions.</p>
            <hr>
            <div class="sg-example">
                <div class="sg-example-inner">
                    <h5 class="sg-example-heading">Example</h5>
                    <dl>
                        <dt>Term 1</dt>
                        <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, qui.</dd>
                        <dt>Term 2</dt>
                        <dd>Lorem ipsum dolor sit amet, consectetur adipisicing.</dd>
                        <dt>Term 3</dt>
                        <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus architecto expedita, rerum.</dd>
                    </dl>
                </div>
                <div class="sg-example-code">
                    <pre class="copytoclipboard"><code class="language-markup"><script type="prism-html-markup"><dl>
    <dt>Term 1</dt>
    <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, qui.</dd>
    <dt>Term 2</dt>
    <dd>Lorem ipsum dolor sit amet, consectetur adipisicing.</dd>
    <dt>Term 3</dt>
    <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus architecto expedita, rerum.</dd>
</dl></script></code></pre>
                </div>
            </div>

            <h4>Horizontal Description</h4>
            <p>Make terms and descriptions line up side-by-side.</p>
            <div class="sg-example">
                <div class="sg-example-inner">
                    <h5 class="sg-example-heading">Example</h5>
                    <dl class="dl-horizontal">
                        <dt>Term 1</dt>
                        <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, qui.</dd>
                        <dt>Term 2</dt>
                        <dd>Lorem ipsum dolor sit amet, consectetur adipisicing.</dd>
                        <dt>Really, really long overflowing Item</dt>
                        <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus architecto expedita, rerum.</dd>
                    </dl>
                </div>
                <div class="sg-example-code">
                    <pre class="copytoclipboard"><code class="language-markup"><script type="prism-html-markup"><dl class="dl-horizontal">
    <dt>Term 1</dt>
    <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, qui.</dd>
    <dt>Term 2</dt>
    <dd>Lorem ipsum dolor sit amet, consectetur adipisicing.</dd>
    <dt>Term 3</dt>
    <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus architecto expedita, rerum.</dd>
</dl></script></code></pre>
                </div>
            </div>

    </div>

    <div class="sg-element-section">

        <h3>Dividers</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, possimus.</p>
        <hr>

        <h4>Default</h4>
        <div class="sg-example">
            <div class="sg-example-inner">
                <h5 class="sg-example-heading">Example</h5>
                <hr>
            </div>
            <div class="sg-example-code">
                <pre class="copytoclipboard"><code class="language-markup"><script type="prism-html-markup"><hr></script></code></pre>
            </div>
        </div>

    </div>

</section>
