/**
 * styleguide/partials/header/header
 * Header styles.
*/

.sg-header {
    position: fixed;
    left: 0;
    top: 0;
    @include size(100% 60px);
    background-color: #4a4e59;
    z-index: 1000;
}
