/**
 * styleguide/partials/header/header
 * Header styles.
 * @author Keenan Staffieri
*/

/* --- variables ------------------------------------------ */

$ns: '.sg-header';


/* --- styles --------------------------------------------- */

#{$ns} {
    position: fixed;
    left: 0;
    top: 0;
    @include size(100% 40px);
    background-color: #4a4e59;
    z-index: 1000;

    @include media($small-up) {
        @include size(100% 60px);
    }
}
