/**
 * styleguide/partials/header/mode-switch
 * Mode Switch styles.
 * @author Keenan Staffieri
*/

/* --- variables ------------------------------------------ */

$ns: '.sg-mode-switch';


/* --- styles --------------------------------------------- */

#{$ns} {
    @extend %clearfix;
    margin-top: 9px;
    background-color: #33353a;

    &__option {
        float: left;
        margin: 2px;
        padding: 10px 20px;
        font-size: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
        cursor: pointer;
        user-select: none;
        transition: color 200ms ease-out,
                    background-color 100ms ease-out;

        &:last-child {
            margin-left: 0;
        }

        &:hover {
            color: white;
        }
    }

    &__option:nth-child(1)#{$ns}__option--active {
        background-color: #4ad4d6;
    }

    &__option:nth-child(2)#{$ns}__option--active {
        background-color: #f9c367;
    }

    &__option--active {
        color: white;
    }
}
