/**
 * styleguide/partials/header/mode-switch
 * Mode Switch styles.
*/

.sg-mode-switch {
    @extend %clearfix;
    margin-top: 9px;
    background-color: black;

    &__option {
        float: left;
        margin: 2px;
        padding: 10px 20px;
        font-size: 12px;
        letter-spacing: 1px;
        text-transform: uppercase;
        cursor: pointer;
        user-select: none;
        transition: color 200ms ease-out,
                    background-color 100ms ease-out;

        &:last-child {
            margin-left: 0;
        }

        &:hover {
            color: white;
        }
    }

    &__option--active {
        color: white;
        background-color: #4ad4d6;
    }
}
