/**
 * styleguide/partials/header/topnav
 * Top Navigation styles.
 * @author Keenan Staffieri
*/

/* --- variables ------------------------------------------ */

$ns: '.sg-topnav-mobile';


/* --- styles --------------------------------------------- */

#{$ns} {
    height: 100%;
    padding: 0 15px;

    &__list {
        @extend %clear-list;
        height: 100%;
    }

    &__item {
        display: inline-block;
        height: 100%;
        margin: 0;

        &:before { display: none; }
    }

    &__item--right {
        float: right;
    }

    &__link {
        display: inline-block;
        padding: 19px 15px;
        color: #e0e3ea;
        font-weight: 500;
        @include font-aa;

        &:hover {
            color: #7fc6f5;
        }
    }

    &__link--active {
        color: #7fc6f5;
    }
}
