/**
 * styleguide/partials/header/topnav
 * Top Nav styles.
*/

.sg-topnav {
    height: 100%;
    padding: 0 30px;

    &__list {
        @extend %clear-list;
        height: 100%;
    }

    &__item {
        display: inline-block;
        height: 100%;
        margin: 0;

        &:before { display: none; }
    }

    &__item--right {
        float: right;
    }

    &__link {
        display: inline-block;
        padding: 19px 20px;
        color: white;
        font-weight: 500;
        @include font-aa;
    }
}
