<section id="section-fonts" class="sg-section">
  <div class="sg-container">

    <h2 class="heading-section">2. Fonts</h2>

    <div class="sg-element-section">

      <h3>Lato</h3>
      <hr>

      <div class="sg-example">
        <div class="sg-example-inner">
          <h5 class="sg-example-heading">Example</h5>
          <p class="lead" style="font-weight: 300;">Lato Light 300</p>
          <p class="lead" style="font-weight: 400;">Lato Regular 400</p>
          <p class="lead" style="font-weight: 700;">Lato Bold 700</p>
        </div> {# .sg-example-inner #}
      </div> {# .sg-example #}

    </div> {# .sg-element-section #}
  </div> {# .sg-container #}
</section> {# .sg-section #}
