<section id="section-grid" class="sg-section">
  <div class="sg-container">

    <h2 class="heading-section">3. Grid</h2>

    <div class="sg-element-section">
      <h3>Grid Settings</h3>
      <hr>
      <p><code>$max-width: 1200px;</code></p>
    </div> {# .sg-element-section #}

  </div> {# .sg-container #}
</section> {# .sg-section #}
