{% import 'view/macro/render.njk' as render %}

<section id="section-typography" class="sg-section">
  <div class="sg-container">

    {# ----------------------------------------------------
        4. Typography
        --------------------------------------------------- #}
    {{ render.sectionPartial('section-heading', { title: '4. Typography' }) }}

    {# --- Headings --------------------------------------- #}
    {{ render.sectionPartial(
      'section-block', {
        heading: 'Headings',
        description: 'All heading styles, <code>&lt;h1&gt;</code> through <code>&lt;h6&gt;</code>.',
        exampleCode: '<h1>Heading 1</h1>
                      <h2>Heading 2</h2>
                      <h3>Heading 3</h3>
                      <h4>Heading 4</h4>
                      <h5>Heading 5</h5>
                      <h6>Heading 6</h6>'
      }
    ) }}

    {# --- Body Copy --------------------------------------- #}
    {{ render.sectionPartial(
      'section-block', {
        heading: 'Body Copy',
        description: 'Default body copy <code>font-size</code> is <code>16px</code> and is applied to the <code>&lt;body&gt;</code> and all <code>&lt;p&gt;</code> elements.',
        exampleCode: '<p>This is a single line of body copy.</p>
                      <p>This body copy spans multiple lines. Est delectus minima cupiditate explicabo molestiae alias culpa dolores, nisi quasi a quam minus. Error perspiciatis, dolor rem harum excepturi natus facere reprehenderit deserunt. Quas architecto magni eius voluptatum quos, aperiam modi accusantium quaerat illo repellendus expedita, rem voluptas at assumenda natus quo nisi repellat asperiores porro recusandae doloribus quae.</p>',
        subsections: [
          {
            heading: 'Lead Body Copy',
            description: 'Make a paragraph stand out from the rest.',
            exampleCode: '<p class="lead">This is a single line of lead body copy.</p>
                          <p class="lead">This body lead copy spans multiple lines. Est delectus minima cupiditate explicabo molestiae alias culpa dolores, nisi quasi a quam minus. Error perspiciatis, dolor rem harum excepturi natus facere reprehenderit deserunt.</p>'
          }
        ]
      }
    ) }}

    {# --- Links ------------------------------------------ #}
    {{ render.sectionPartial(
      'section-block', {
        heading: 'Links',
        description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, nisi.',
        exampleCode: '<p>Click <a href="http://google.com" target="_blank">here</a> for Google.</p>'
      }
    ) }}

    {# --- Inline Text Elements --------------------------- #}
    {{ render.sectionPartial(
      'section-block', {
        heading: 'Inline Text Elements',
        description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, quasi.',
        subsections: [
          {
            heading: 'Marked Text',
            description: 'For highlighting a run of text due to its relevance in another context, use the <code>&lt;mark&gt;</code> tag.',
            exampleCode: '<p>You can use the mark tag to <mark>highlight</mark> text.</p>'
          },
          {
            heading: 'Deleted Text',
            description: 'For indicating blocks of text that have been deleted use the <code>&lt;del&gt;</code> tag.',
            exampleCode: '<p><del>This line of text is meant to be treated as deleted text.</del></p>'
          },
          {
            heading: 'Strikethrough Text',
            description: 'For indicating blocks of text that are no longer relevant use the <code>&lt;s&gt;</code> tag.',
            exampleCode: '<p><s>This line of text is meant to be treated as no longer accurate.</s></p>'
          },
          {
            heading: 'Inserted Text',
            description: 'For indicating additions to the document use the <code>&lt;ins&gt;</code> tag.',
            exampleCode: '<p><ins>This line of text is meant to be treated as an addition to the document.</ins></p>'
          },
          {
            heading: 'Underlined Text',
            description: 'To underline text use the <code>&lt;u&gt;</code> tag.',
            exampleCode: '<p><u>This line of text will render as underlined</u></p>'
          },
          {
            heading: 'Small Text',
            description: 'For de-emphasizing inline or blocks of text, use the <code>&lt;small&gt;</code> tag',
            exampleCode: '<p><small>This line of text is meant to be treated as fine print.</small></p>'
          },
          {
            heading: 'Bold Text',
            description: 'For emphasizing a snippet of text with a heavier font-weight.',
            exampleCode: '<p><strong>rendered as bold text</strong></p>'
          },
          {
            heading: 'Italic Text',
            description: 'For emphasizing a snippet of text with italics.',
            exampleCode: '<p><em>rendered as italicized text</em></p>'
          },
          {
            heading: 'Abbreviated Text',
            description: "Stylized implementation of HTML's <code>&lt;abbr&gt;</code> element for abbreviations and acronyms to show the expanded version on hover. Abbreviations with a title attribute have a light dotted bottom border and a help cursor on hover, providing additional context on hover and to users of assistive technologies.",
            exampleCode: '<p><abbr title="Compact Disk">CD</abbr></p>'
          },
          {
            heading: 'Cited Text',
            description: 'Use the <code>&lt;cite&gt;</code> to attribute a source.',
            exampleCode: '<p><cite title="Source Title">Source Title</cite></p>'
          }
        ]
      }
    ) }}

    {# --- Address ---------------------------------------- #}
    {{ render.sectionPartial(
      'section-block', {
        heading: 'Address',
        description: 'Present contact information for the nearest ancestor or the entire body of work.',
        exampleCode: '<address>
                          <strong>Mr. Example</strong><br>
                          555 Orange Road<br>
                          San Diego, CA 55555<br>
                          <abbr title="Phone">P:</abbr> (555) 555-5555
                      </address>'
      }
    ) }}

    {# --- Blockquotes ------------------------------------ #}
    {{ render.sectionPartial(
      'section-block', {
        heading: 'Blockquotes',
        description: 'For quoting blocks of content from another source within your document.',
        exampleCode: '<blockquote>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                      </blockquote>',
        subsections: [
          {
            heading: 'Naming a source',
            descriptiom: 'Add a <code>&lt;footer&gt;</code> for identifying the source. Wrap the name of the source work in <code>&lt;cite&gt;</code>.',
            exampleCode: '<blockquote>
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                              <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                          </blockquote>'
          }
        ]
      }
    ) }}

    {# --- Lists ------------------------------------------ #}
    {{ render.sectionPartial(
      'section-block', {
        heading: 'Lists',
        description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, commodi!',
        subsections: [
          {
            heading: 'Unordered',
            descriptiom: 'A list of items in which the order does <em>not</em> explicitly matter.',
            exampleCode: '<ul>
                              <li>
                                  Lorem ipsum dolor sit amet.
                                  <ul>
                                      <li>Subitem</li>
                                  </ul>
                              </li>
                              <li>Lorem ipsum dolor sit amet, consectetur.</li>
                              <li>Lorem ipsum dolor.</li>
                          </ul>'
          },
          {
            heading: 'Ordered',
            descriptiom: 'A list of items in which the order <em>does</em> explicitly matter.',
            exampleCode: '<ol>
                              <li>
                                  Lorem ipsum dolor sit amet.
                                  <ol>
                                      <li>Subitem</li>
                                  </ol>
                              </li>
                              <li>Lorem ipsum dolor sit amet, consectetur.</li>
                              <li>Lorem ipsum dolor.</li>
                          </ol>'
          },
          {
            heading: 'Unstyled',
            descriptiom: 'Remove default list styling.',
            exampleCode: '<ul class="list-unstyled">
                              <li>
                                  Lorem ipsum dolor sit amet.
                                  <ul>
                                      <li>Subitem</li>
                                  </ul>
                              </li>
                              <li>Lorem ipsum dolor sit amet, consectetur.</li>
                              <li>Lorem ipsum dolor.</li>
                          </ul>'
          },
          {
            heading: 'Inline',
            descriptiom: 'Place all list items on a single line.',
            exampleCode: '<ul class="list-inline">
                              <li>Item 1</li>
                              <li>Item 2</li>
                              <li>Item 3</li>
                          </ul>'
          },
          {
            heading: 'Condensed',
            descriptiom: 'Place all list items on a single line.',
            exampleCode: '<ul class="list--condensed">
                              <li>Item 1</li>
                              <li>Item 2</li>
                              <li>Item 3</li>
                          </ul>

                          <ol class="list--condensed">
                              <li>Item 1</li>
                              <li>Item 2</li>
                              <li>Item 3</li>
                          </ol>'
          }
        ]
      }
    ) }}

    {# --- Description ------------------------------------ #}
    {{ render.sectionPartial(
      'section-block', {
        heading: 'Description',
        description: 'A list of terms with their associated descriptions.',
        exampleCode: '<dl>
                        <dt>Term 1</dt>
                        <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, qui.</dd>
                        <dt>Term 2</dt>
                        <dd>Lorem ipsum dolor sit amet, consectetur adipisicing.</dd>
                        <dt>Term 3</dt>
                        <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus architecto expedita, rerum.</dd>
                    </dl>',
        subsections: [
          {
            heading: 'Horizontal Description',
            descriptiom: 'Make terms and descriptions line up side-by-side.',
            exampleCode: '<dl class="dl-horizontal">
                              <dt>Term 1</dt>
                              <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem, qui.</dd>
                              <dt>Term 2</dt>
                              <dd>Lorem ipsum dolor sit amet, consectetur adipisicing.</dd>
                              <dt>Really, really long overflowing Item</dt>
                              <dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus architecto expedita, rerum.</dd>
                          </dl>'
          }
        ]
      }
    ) }}

    {# --- Dividers --------------------------------------- #}
    {{ render.sectionPartial(
      'section-block', {
        heading: 'Dividers',
        description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, possimus.',
        subsections: [
          {
            heading: 'Default',
            description: 'Your standard everyday divider.',
            exampleCode: '<hr>'
          }
        ]
      }
    ) }}

  </div> {# .sg-container #}
</section> {# .sg-section #}
