{% extends 'layout/layout.njk' %}

{% block content %}

<h2>Welcome to the boilerplate</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis, commodi.</p>
<a href="https://github.com/keezoid/silvvr">Github</a>
<a href="https://twitter.com/keenode">Follow me on Twitter</a>

{% endblock %}
