{#
  Page: Index
  ---------------------------------------------
  Reference: index
  app/index
  @author Keenan Staffieri
#}

{% import 'macro/render.njk' as render %}

{% extends 'layout/layout.njk' %}

{# --- additional stylesheets ----------------------------- #}

{% block stylesheets %}
<link rel="stylesheet" href="css/page/index.css">
{% endblock %}

{# --- content -------------------------------------------- #}

{% block content %}

<div class="page-wrap page-wrap--test-page" data-page-ref="test-page" data-page-name="Test Page">

  {# Component: Copy Block #}
  {{ render.component('copy-block', {
    heading: 'Hello, World!',
    content: '<p>Say "Hello" to the first-ever component! Click <a href="#">here</a> for more details.</p>'
  }) }}

</div> {# .page-wrap--test-page #}

{% endblock %}

{# --- additional scripts --------------------------------- #}

{% block scripts %}
<!-- build:js /js/page/index.js -->
<script type="text/javascript" src="/js/component/_base/Component.js"></script>
<script type="text/javascript" src="/js/page/index.js"></script>
<!-- endbuild -->
{% endblock %}
