{% extends 'layouts/layout-styleguide.html' %}

{% block content %}

    <div class="sg-container">

        {# 1. Colors #}
        {% include 'styleguide/colors.html' %}


        {# 1. Fonts #}
        {% include 'styleguide/fonts.html' %}


        {# 1. Grid #}
        <h2 class="heading-section">Grid</h2>

        <h3>Grid Settings</h3>
        <p><code>$max-width: 1200px;</code></p>


        {# 2. Typography #}
        {% include 'styleguide/typography.html' %}


        {#
            3. Code
        #}

        <h2 class="heading-section">Code</h2>

        <h2>Inline</h2>
        <p>Wrap inline snippets of code with <code>&lt;code&gt;</code>.</p>
        <div class="sg-example">
            <div class="sg-example-inner">
                <h5 class="sg-example-heading">Example</h5>
                <p>For example, <code>&lt;section&gt;</code> should be wrapped as inline.</p>
            </div>
            <div class="sg-example-code">
                <pre class="copytoclipboard"><code class="language-markup"><script type="prism-html-markup"><p>For example, <code>&lt;section&gt;</code> should be wrapped as inline.</p></script></code></pre>
            </div>
        </div>

        <h2>User Input</h2>
        <p>Use the <code>&lt;kbd&gt;</code> to indicate input that is typically entered via keyboard.</p>
        <div class="sg-example">
            <div class="sg-example-inner">
                <h5 class="sg-example-heading">Example</h5>
                To switch directories, type <kbd>cd</kbd> followed by the name of the directory.<br>
                To edit settings, press <kbd><kbd>ctrl</kbd> + <kbd>,</kbd></kbd>
            </div>
            <div class="sg-example-code">
                <pre class="copytoclipboard"><code class="language-markup"><script type="prism-html-markup">To switch directories, type <kbd>cd</kbd> followed by the name of the directory.<br>
To edit settings, press <kbd><kbd>ctrl</kbd> + <kbd>,</kbd></kbd></script></code></pre>
            </div>
        </div>

        <h2>Block</h2>
        <p>Use <code>&lt;pre&gt;</code> for multiple lines of code. Be sure to escape any angle brackets in the code for proper rendering.</p>
        <div class="sg-example">
            <div class="sg-example-inner">
                <h5 class="sg-example-heading">Example</h5>
                <pre>&lt;p&gt;Sample text here...&lt;/p&gt;</pre>
            </div>
            <div class="sg-example-code">
                <pre class="copytoclipboard"><code class="language-markup"><script type="prism-html-markup"><pre>&lt;p&gt;Sample text here...&lt;/p&gt;</pre></script></code></pre>
            </div>
        </div>

        <h2>Variables</h2>
        <p>For indicating variables use the <code>&lt;var&gt;</code> tag.</p>
        <div class="sg-example">
            <div class="sg-example-inner">
                <h5 class="sg-example-heading">Example</h5>
                <var>y</var> = <var>m</var><var>x</var> + <var>b</var>
            </div>
            <div class="sg-example-code">
                <pre class="copytoclipboard"><code class="language-markup"><script type="prism-html-markup"><var>y</var> = <var>m</var><var>x</var> + <var>b</var></script></code></pre>
            </div>
        </div>

        <h2>Sample Output</h2>
        <p>For indicating blocks sample output from a program use the <code>&lt;samp&gt;</code> tag.</p>
        <div class="sg-example">
            <div class="sg-example-inner">
                <h5 class="sg-example-heading">Example</h5>
                <samp>This text is meant to be treated as sample output from a computer program.</samp>
            </div>
            <div class="sg-example-code">
                <pre class="copytoclipboard"><code class="language-markup"><script type="prism-html-markup"><samp>This text is meant to be treated as sample output from a computer program.</samp></script></code></pre>
            </div>
        </div>


        {#
            4. Tables
        #}

        <h2 class="heading-section">Tables</h2>

        <h2>Basic</h2>
        <p>Basic table.</p>
        <div class="sg-example">
            <div class="sg-example-inner">
                <h5 class="sg-example-heading">Example</h5>
                <table class="table">
                    <caption>Optional table caption.</caption>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="sg-example-code">
                <pre class="copytoclipboard"><code class="language-markup"><script type="prism-html-markup"><table class="table">
    <caption>Optional table caption.</caption>
    <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
        </tr>
    </tbody>
</table></script></code></pre>
            </div>
        </div>

        <h2>Striped Rows</h2>
        <p>Striped table.</p>
        <div class="sg-example">
            <div class="sg-example-inner">
                <h5 class="sg-example-heading">Example</h5>
                <table class="table table-striped">
                    <caption>Optional table caption.</caption>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="sg-example-code">
                <pre class="copytoclipboard"><code class="language-markup"><script type="prism-html-markup"><table class="table table-striped">
    <caption>Optional table caption.</caption>
    <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
        </tr>
    </tbody>
</table></script></code></pre>
            </div>
        </div>

        <h2>Bordered Table</h2>
        <p>Bordered table.</p>
        <div class="sg-example">
            <div class="sg-example-inner">
                <h5 class="sg-example-heading">Example</h5>
                <table class="table table-bordered">
                    <caption>Optional table caption.</caption>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="sg-example-code">
                <pre class="copytoclipboard"><code class="language-markup"><script type="prism-html-markup"><table class="table table-bordered">
    <caption>Optional table caption.</caption>
    <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
        </tr>
    </tbody>
</table></script></code></pre>
            </div>
        </div>

        <h2>Hover Rows</h2>
        <p>Hover table.</p>
        <div class="sg-example">
            <div class="sg-example-inner">
                <h5 class="sg-example-heading">Example</h5>
                <table class="table table-hover">
                    <caption>Optional table caption.</caption>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="sg-example-code">
                <pre class="copytoclipboard"><code class="language-markup"><script type="prism-html-markup"><table class="table table-hover">
    <caption>Optional table caption.</caption>
    <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
        </tr>
    </tbody>
</table></script></code></pre>
            </div>
        </div>

        <h2>Condensed</h2>
        <p>Condensed table.</p>
        <div class="sg-example">
            <div class="sg-example-inner">
                <h5 class="sg-example-heading">Example</h5>
                <table class="table table-condensed">
                    <caption>Optional table caption.</caption>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Username</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Mark</td>
                            <td>Otto</td>
                            <td>@mdo</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>Jacob</td>
                            <td>Thornton</td>
                            <td>@fat</td>
                        </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>Larry</td>
                            <td>the Bird</td>
                            <td>@twitter</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="sg-example-code">
                <pre class="copytoclipboard"><code class="language-markup"><script type="prism-html-markup"><table class="table table-condensed">
    <caption>Optional table caption.</caption>
    <thead>
        <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Username</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
        </tr>
    </tbody>
</table></script></code></pre>
            </div>
        </div>


        {#
            5. Forms
        #}

        <h2 class="heading-section">Forms</h2>

        <h2>Basic</h2>
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="exampleInputFile">File input</label>
                <input type="file" id="exampleInputFile">
                <p class="help-block">Example block-level help text here.</p>
            </div>
            <div class="checkbox">
                <label>
                <input type="checkbox"> Check me out
                </label>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>

        <h2>Inline</h2>
        <form class="form-inline">
            <div class="form-group">
                <label for="exampleInputName2">Name</label>
                <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail2">Email</label>
                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
            </div>
            <button type="submit" class="btn btn-default">Send invitation</button>
        </form>

        <h2>Horizontal</h2>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                        <input type="checkbox"> Remember me
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Sign in</button>
                </div>
            </div>
        </form>

        <h2>Controls</h2>

        <h3>Inputs</h3>
        <input type="text" class="form-control" placeholder="Text input">

        <h3>Textarea</h3>
        <textarea rows="10"></textarea>

        <h3>Checkboxes</h3>

        <h4>Default (Stacked)</h4>
        <div class="checkbox">
            <label>
                <input type="checkbox" value="">
                Option one is this and that&mdash;be sure to include why it's great
            </label>
        </div>
        <div class="checkbox disabled">
            <label>
                <input type="checkbox" value="" disabled>
                Option two is disabled
            </label>
        </div>

        <h4>Inline</h4>
        <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox1" value="option1"> 1
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox2" value="option2"> 2
        </label>
        <label class="checkbox-inline">
            <input type="checkbox" id="inlineCheckbox3" value="option3"> 3
        </label>

        <h3>Radios</h3>

        <h4>Default (Stacked)</h4>
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked>
                Option one is this and that&mdash;be sure to include why it's great
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">
                Option two can be something else and selecting it will deselect option one
            </label>
        </div>
        <div class="radio disabled">
            <label>
                <input type="radio" name="optionsRadios" id="optionsRadios3" value="option3" disabled>
                Option three is disabled
            </label>
        </div>

        <h4>Inline</h4>
        <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> 1
        </label>
        <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> 2
        </label>
        <label class="radio-inline">
            <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> 3
        </label>

        <h3>Selects</h3>
        <select class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>

        <h4>Multiple</h4>
        <select multiple class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
        </select>

        <h3>Static Control</h3>
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">Email</label>
                <div class="col-sm-10">
                    <p class="form-control-static">email@example.com</p>
                </div>
            </div>
            <div class="form-group">
                <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                </div>
            </div>
        </form>

        <h3>Focus State</h3>
        <input type="text">

        <h3>Disabled State</h3>
        <input class="form-control" id="disabledInput" type="text" placeholder="Disabled input here..." disabled>

        <h3>Disabled Fieldsets</h3>
        <form>
            <fieldset disabled>
                <div class="form-group">
                    <label for="disabledTextInput">Disabled input</label>
                    <input type="text" id="disabledTextInput" class="form-control" placeholder="Disabled input">
                </div>
                <div class="form-group">
                    <label for="disabledSelect">Disabled select menu</label>
                    <select id="disabledSelect" class="form-control">
                        <option>Disabled select</option>
                    </select>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Can't check this
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </fieldset>
        </form>

        <h3>Readonly State</h3>
        <input class="form-control" type="text" placeholder="Readonly input here…" readonly>

        <h3>Help Text</h3>
        <label class="sr-only" for="inputHelpBlock">Input with help text</label>
        <input type="text" id="inputHelpBlock" class="form-control" aria-describedby="helpBlock">
        <span id="helpBlock" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>

        <h3>Validation States</h3>
        ...

        <h3>Control Sizing</h3>
        ...

    </div> {# .sg-wrap #}

{% endblock %}
