{% extends 'layout/layout-styleguide.html' %}

{% block content %}

    <div class="sg-page-wrap">

        {# 1. Color Palette #}
        {% include 'styleguide/section/colors.html' %}

        {# 2. Fonts #}
        {% include 'styleguide/section/fonts.html' %}

        {# 3. Grid #}
        {% include 'styleguide/section/grid.html' %}

        {# 4. Typography #}
        {% include 'styleguide/section/typography.html' %}

        {# 5. Buttons #}
        {% include 'styleguide/section/buttons.html' %}

        {# 6. Code #}
        {% include 'styleguide/section/code.html' %}

        {# 7. Tables #}
        {% include 'styleguide/section/tables.html' %}

        {# 8. Controls #}
        {% include 'styleguide/section/controls.html' %}

        {# 9. Forms #}
        {% include 'styleguide/section/forms.html' %}

    </div> {# .sg-page-wrap #}

    <a href="javascript:void(0)" id="sg-backtotop" class="sg-backtotop">
        {% include 'styleguide/icon/arrow.svg' %}
    </a>

{% endblock %}
