{% extends 'layouts/layout-styleguide.html' %}

{% block content %}

    <div class="sg-page-wrap">

        {# 1. Color Palette #}
        {% include 'styleguide/colors.html' %}


        {# 2. Fonts #}
        {% include 'styleguide/fonts.html' %}


        {# 3. Grid #}
        {% include 'styleguide/grid.html' %}


        {# 4. Typography #}
        {% include 'styleguide/typography.html' %}


        {# 5. Code #}
        {% include 'styleguide/code.html' %}


        {# 6. Tables #}
        {% include 'styleguide/tables.html' %}


        {# 7. Forms #}
        {% include 'styleguide/forms.html' %}


        {# 8. Buttons #}
        {% include 'styleguide/buttons.html' %}

    </div> {# .sg-page-wrap #}

{% endblock %}
