{% extends 'layouts/layout-styleguide.html' %}

{% block content %}

    <div class="sg-container">

        {# 1. Colors #}
        {% include 'styleguide/colors.html' %}


        {# 2. Fonts #}
        {% include 'styleguide/fonts.html' %}


        {# 3. Grid #}
        <h2 class="heading-section">Grid</h2>

        <h3>Grid Settings</h3>
        <p><code>$max-width: 1200px;</code></p>


        {# 4. Typography #}
        {% include 'styleguide/typography.html' %}


        {# 5. Code #}
        {% include 'styleguide/code.html' %}


        {# 6. Tables #}
        {% include 'styleguide/tables.html' %}


        {# 7. Forms #}
        {% include 'styleguide/forms.html' %}

    </div> {# .sg-wrap #}

{% endblock %}
