@import '../../scss/component/component';

.Container {
  display: flex;
  flex-flow: row wrap;
  height: 100vh;
}

.Content {
  flex: 1;
  max-width: calc(100vw - 200px);
  height: calc(100vh - 40px);
  overflow-y: scroll;
}

.ContentInner {
  padding: 30px;
}
