@import '../../scss/component/component';

.AppContainer {
  display: flex;
}

.AppContent {
  position: relative;
  top: 40px;
  width: calc(100% - 200px);
  height: calc(100vh - 40px);
  overflow-y: scroll;
}

.AppContentInner {
  padding: 30px;
}
