/**
 * typography/blockquotes
 * Blockquote styles.
*/

/*
    Placeholder blockquote styles
*/

%blockquote {
    margin: 0;
    padding: 20px 0 20px 40px;
    border-left: 10px solid color('slate');

    p {
        margin: 0;
    }

    footer {
        color: #aaa;

        &:before {
            content: '\2014 \00A0';
        }
    }
}


/*
    Generic blockquote element extends
*/

blockquote { @extend %blockquote; }
