/**
 * pages/_index
 * Index page specific styles.
*/

.index-page {
    @extend %outer-container;
    padding-top: 50px;

    &__content {
        max-width: 80%;
        padding: 20px;
        margin: 0 auto 50px auto;
        text-align: center;
        background-color: white;
        border: 1px solid #ddd;
    }

    &__logo-image {
        margin-bottom: 30px;
    }

    &__logo-bg {
        margin: 0 auto 30px auto;
        @include size(128px);
        background: url('../assets/images/logo-silvvr.png') no-repeat;
        background-size: 100%;
    }

    &__btn-github {
        @extend %btn--primary;
    }
}
