@import '../../../scss/component/component';

.TopBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 100%;
  height: 40px;
  background-color: color('black');
}

.SilvvrLogo {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 10px;

  svg path {
    transition: fill 300ms $ease-out-cubic;
  }

  &:hover svg path {
    fill: color('white');
  }
}

.List {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;

  li {
    display: flex;
    margin: 0;
  }

  li > a {
    padding: 0 15px;
    color: color('silver');
    font-size: 14px;
    line-height: 40px;
    text-align: center;
  }
}

.ModeCycler > a {
  background-color: color('black-lt');
  transition: color 300ms $ease-out-cubic,
              background-color 300ms $ease-out-cubic;

  &:hover {
    color: color('white');
    background-color: color('blue-dk');
  }
}

.AccountDropdown > a {
  display: flex;
  align-items: center;
  transition: color 300ms $ease-out-cubic,
              background-color 300ms $ease-out-cubic;

  &:hover {
    background-color: color('black-lt');
  }

  &:hover span {
    color: color('white');
  }

  span { padding-left: 10px; }
}

.UserAvatar {
  width: 32px;
  border-radius: 100%;
}
