{#
    Page: Component Test
    ---------------------------------------------
    Reference: component-test
#}

{% extends 'layouts/layout.html' %}


{% block stylesheets %}

<link rel="stylesheet" href="{{ '/css/pages/component-test.css' | cachebust }}">

{% endblock %}


{% block content %}

<h1>Component Test</h1>

{# Component: Copy-A #}
{% include 'component/copy/copy-a.html' with {
    eyebrow: 'Testing...',
    headline: 'Component Test.',
    content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, cupiditate!',
} only %}

{% endblock %}


{% block scripts %}

<!-- build:js /js/pages/component-test.js -->
<script type="text/javascript" src="/js/pages/component-test.js"></script>
<!-- endbuild -->

{% endblock %}
