{% import 'view/macro/render.njk' as render %}

<section id="section-buttons" class="sg-section">
  <div class="sg-container">

    {# ----------------------------------------------------
        5. Buttons
        --------------------------------------------------- #}
    {{ render.sectionPartial('section-heading', { title: '5. Buttons' }) }}

    {# --- Default ---------------------------------------- #}
    {{ render.sectionPartial(
      'section-block', {
        heading: 'Default',
        description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, a.',
        exampleCode: '<a href="#" class="btn">Button</a>',
        subsections: [
          {
            heading: 'Fixed Width',
            description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, a.',
            exampleCode: '<a href="#" class="btn btn--fixed-width">Button</a>'
          },
          {
            heading: 'Large',
            description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, a.',
            exampleCode: '<a href="#" class="btn btn--large">Button</a>'
          }
        ]
      }
    ) }}

    {# --- Secondary -------------------------------------- #}
    {{ render.sectionPartial(
      'section-block', {
        heading: 'Secondary',
        description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.',
        exampleCode: '<a href="#" class="btn btn--secondary">Button</a>'
      }
    ) }}

  </div> {# .sg-container #}
</section> {# .sg-section #}
