{% import 'view/macro/render.njk' as render %}

<section id="section-forms" class="sg-section">
  <div class="sg-container">

    {# ----------------------------------------------------
        9. Forms
        --------------------------------------------------- #}
    {{ render.sectionPartial('section-heading', { title: '9. Forms' }) }}

    {# --- Basic ------------------------------------------ #}
    {{ render.sectionPartial(
      'section-block', {
        heading: 'Basic',
        description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ipsa ratione iusto blanditiis minus fugiat.',
        exampleCode: '<form>
                        <div class="form-group">
                          <label for="exampleInputEmail1">Email address</label>
                          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputPassword1">Password</label>
                          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputFile">File input</label>
                          <input type="file" id="exampleInputFile">
                          <p class="help-block">Example block-level help text here.</p>
                        </div>
                        <div class="form-group">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox"> Check me out
                            </label>
                          </div>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                      </form>'
      }
    ) }}

    {# --- Inline ----------------------------------------- #}
    {{ render.sectionPartial(
      'section-block', {
        heading: 'Inline',
        description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ipsa ratione iusto blanditiis minus fugiat.',
        exampleCode: '<form class="form--inline">
                        <div class="form-group">
                          <label for="exampleInputName2">Name</label>
                          <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
                        </div>
                        <div class="form-group">
                          <label for="exampleInputEmail2">Email</label>
                          <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
                        </div>
                        <button type="submit" class="btn">Send</button>
                      </form>'
      }
    ) }}

    {# --- Horizontal ------------------------------------- #}
    {{ render.sectionPartial(
      'section-block', {
        heading: 'Horizontal',
        description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum ipsa ratione iusto blanditiis minus fugiat.',
        exampleCode: '<form class="form--horizontal">
                        <div class="form-group">
                          <label for="inputEmail3" class="form-group-label">Email</label>
                          <div class="form-group-control">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="inputPassword3" class="form-group-label">Password</label>
                          <div class="form-group-control">
                            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="form-group-control form-group-control--offset">
                            <div class="checkbox">
                              <label>
                                <input type="checkbox"> Remember me
                              </label>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="form-group-control form-group-control--offset">
                            <button type="submit" class="btn btn-default">Sign in</button>
                          </div>
                        </div>
                      </form>'
      }
    ) }}

  </div> {# .sg-container #}
</section> {# .sg-section #}
