/**
 * scss/base-style/typography/list
 * List styles.
 * @author Keenan Staffieri
*/

/* --- placeholder selectors ------------------------------ */

%default-list {
    margin: 10px 0 50px 0;
    padding: 0 0 0 30px;
    @include font-aa;

    ul,
    ol {
        margin: 0;
    }

    li {
        position: relative;
        margin: 20px 0;
        color: color('gray');
    }
}

%list-unordered {
    @extend %default-list;
}

%list-ordered {
    @extend %default-list;
}

%list-unstyled {
    @extend %default-list;
    margin: 0;
    padding: 0;
    list-style: none;
}

%list-inline {
    @extend %list-unstyled;

    li {
        display: inline-block;
        padding: 0 15px;
    }

    li:first-child {
        padding-left: 0;
    }
}

%list--condensed {
    li {
        margin: 10px 0;
        font-size: 14px;
    }
}
