/**
 * styleguide/_base
 * Styleguide page specific styles.
*/

body {
    // background-color: #f6f6f6;
    // background-color: white;
    background-color: #f8f8f8;
}

.sg-page-wrap {
    margin-top: 100px;
}

.sg-container {
    @extend %outer-container;
    padding: 30px;
}

.sg-header {
    position: fixed;
    left: 0;
    top: 0;
    @include size(100% 60px);
    background-color: #33353a;
    z-index: 1000;
}

.sg-topnav {

    &__list {
        @extend %clear-list;
    }

    &__list-item {
        display: inline-block;

        &:before { display: none; }
    }

    &__list-link {
        padding: 0 20px;
        color: white;
        font-weight: 500;
        @include font-aa;
    }
}

// .sg-header {
//     padding: 50px 0;

//     &__title {
//         margin: 0;
//         color: #666;
//         font-weight: 500;
//         text-align: center;
//         letter-spacing: 3px;
//         cursor: default;
//     }
// }

.sg-section {
    padding-bottom: 50px;

    // &:nth-of-type(even) {
    //     border-top: 1px solid white;
        // background-color: #f8f8f8;
    // }
}

.sg-element-section {
    margin: 100px 0;
    padding: 50px;
    background-color: white;
}

.sg-example {
    margin-bottom: 50px;
}

.sg-example-heading {
    color: #999;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: default;
}

.sg-colors-container {
    @extend %clearfix;
}

.sg-color-section-heading {
    float: left;
    width: 100%;
}

.sg-color-box {
    @include size(160px 130px);
    float: left;
    margin: 10px;

    &__color {
        @include size(100% 80px);
        background-color: #666; // default
        border-radius: 3px;
    }

    &__hex {
        @extend %code-nostyle;
        display: block;
        position: relative;
        top: 34px;
        color: white;
        font-size: 12px;
        text-align: center;
    }

    &__name {
        display: block;
        margin-top: 10px;
        font-size: 11px;
        text-align: center;
    }
}

.sg-footer {
    padding: 50px 0;

    &__copyright {
        display: block;
        color: white;
        text-align: center;
    }
}

/* Prism theme overrides */
pre[class*="language-"] {
    margin-top: 20px;
    font-size: 16px;
    border-radius: 0;
}

code[class*="language-"],
pre[class*="language-"] {
    font-size: 16px;
    background-color: #555;
}

/* Copy to Clipboard button */
.copytoclipboard.btn {
    padding: 5px 10px;
    color: #ddd;
    font-size: 12px;
    background-color: #333;
    border: none;
    outline: none;
    transition: background-color 150ms ease-out;

    &:hover {
        background-color: black;
    }
}
