/**
 * styleguide/_base
 * Styleguide page specific styles.
 * @author Keenan Staffieri
*/

body {
    background-color: #f8f8f8;
}

@import 'example';
@import 'color-section';
@import 'prism-overrides';
@import 'backtotop';


.sg-page-wrap {
    margin-top: 100px;
}

.sg-container {
    @extend %outer-container;
    padding: 30px;
}

.sg-section {
    padding-bottom: 50px;
}

.sg-element-section {
    margin: 100px 0;
    padding: 50px;
    background-color: white;
}

.sg-colors-container {
    @extend %clearfix;
}
