{% set sections = [
    {
        ref: 'color-palette',
        name: 'Color Palette',
    },
    {
        ref: 'fonts',
        name: 'Fonts',
    },
    {
        ref: 'grid',
        name: 'Grid',
    },
    {
        ref: 'typography',
        name: 'Typography',
    },
    {
        ref: 'buttons',
        name: 'Buttons',
    },
    {
        ref: 'code',
        name: 'Code',
    },
    {
        ref: 'tables',
        name: 'Tables',
    },
    {
        ref: 'controls',
        name: 'Controls',
    },
    {
        ref: 'forms',
        name: 'Forms',
    },
] %}

<header class="sg-header">

    {% include 'styleguide/partials/topnav.html' with {
        id: 'sg-topnav',
        sections: sections,
    } only %}

    {% include 'styleguide/partials/topnav-mobile.html' with {
        id: 'sg-topnav-mobile',
        sections: sections,
    } only %}

</header>
