{% set categories = [
        {
            ref: 'color-palette',
            name: 'Color Palette',
        },
        {
            ref: 'fonts',
            name: 'Fonts',
        },
        {
            ref: 'grid',
            name: 'Grid',
        },
        {
            ref: 'typography',
            name: 'Typography',
        },
        {
            ref: 'buttons',
            name: 'Buttons',
        },
        {
            ref: 'code',
            name: 'Code',
        },
        {
            ref: 'tables',
            name: 'Tables',
        },
        {
            ref: 'forms',
            name: 'Forms',
        },
    ]
%}

<header class="sg-header">
    <nav id="sg-topnav" class="sg-topnav">
        <ul class="sg-topnav__list">
            <li class="sg-topnav__item">
                <a class="sg-topnav__link" href="http://www.weareenvoy.com"><strong>ENVOY</strong></a>
            </li>

            {% for cat in categories %}
                <li class="sg-topnav__item">
                    <a class="sg-topnav__link" href="javascript:void(0)" data-scroll-to="section-{{ cat.ref }}">{{ cat.name }}</a>
                </li>
            {% endfor %}

            <li class="sg-topnav__item sg-topnav__item--right">
                <div id="sg-mode-switch" class="sg-mode-switch">
                    <div class="sg-mode-switch__option" data-value="developer">
                        Developer
                    </div>
                    <div class="sg-mode-switch__option" data-value="designer">
                        Designer
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</header>
