/**
 * app/scss/base-style/code/block
 * Code block styles.
 * @author Keenan Staffieri
*/

/* --- placeholder selectors ------------------------------ */

// --- Code Block -----------------------------------------
%code-block {
  margin: 10px 0;
  padding: 10px 12px 8px;
  color: color('misty-s2');
  font-family: $fontFamily--code;
  font-size: 14px;
  line-height: 22px;
  background-color: color('gray-s1');

  @include media ($small-up) {
    padding: 14px 16px 12px;
    font-size: 16px;
    line-height: 26px;
  }
}
