/**
 * app/scss/base-style/code/inline
 * Inline code styles.
 * @author Keenan Staffieri
*/

/* --- placeholder selectors ------------------------------ */

// --- Inline Code Block ----------------------------------
%code-inline {
  padding: 3px 6px 1px 6px;
  color: white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 14px;
  background-color: color('gray-light');
}

// --- Code (No-Style) ------------------------------------
%code-nostyle {
  padding: 0;
  background-color: transparent;
}
