/**
 * scss/base-style/code/sample-output
 * Sample Output styles.
 * @author Keenan Staffieri
*/

/* --- placeholder selectors ------------------------------ */

%sample-output {
    padding: 8px 10px 6px 10px;
    background-color: color('blue');
    color: white;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 14px;
}
