/**
 * app/scss/base-style/code/user-input
 * User input styles.
 * @author Keenan Staffieri
*/

/* --- placeholder selectors ------------------------------ */

// --- User Input -----------------------------------------
%user-input {
  padding: 6px 8px 4px 8px;
  color: gray-dk;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 14px;
  background-color: color('gray-s2');
}
