/**
 * theme-settings/colors
 * Theme colors.
*/

/* --- colors map --- */

$colors: (

    /* Gray */
    gray-dk: #202026,
    gray-md: #414146,
    gray-lt: #616166,

    /* Beige */
    beige-dk: #EBE9E3,
    beige-md: #F2F1ED,
    beige-lt: #F8F8F6,

    /* Brown */
    brown-dk: #3F3227,
    brown-md: #7F6650,
    brown-lt: #BE9978,

    /* Green */
    green-dk: #449D20,
    green-md: #74AB3A,
    green-lt: #C1DE63,

    /* Blue */
    blue-dk: #26A4BF,
    blue-md: #4DC3D5,
    blue-lt: #73E1EA,

    /* Magenta */
    magenta-dk: #831F8C,
    magenta-md: #AD40B3,
    magenta-lt: #D660D9,
);


/* --- colors helper function --- */

@function color($color) {

    @if map-has-key($colors, $color) {
        @return map-get($colors, $color)
    }

    @warn "Color '#{$color}' not found in 'colors' map.";
    @return null;
}


/* --- background colors --- */
$bgColor: #f6f6f6;


/* --- font colors --- */
$fontColor--base: color('gray-dk');
