/**
 * theme-settings/colors
 * Theme colors.
*/

/* --- colors map --- */

$colors: (
    'blue':     #0f73ef,
    'mist':     #d6d7db,
    'slate':    #6b7889,
    'concrete': #8d8d8d,
    'space':    #202020,
    'magenta':  #ff3366,
);


/* --- colors helper function --- */

@function color($color) {

    @if map-has-key($colors, $color) {
        @return map-get($colors, $color)
    }

    @warn "Color '#{$color}' not found in 'colors' map.";
    @return null;
}


/* --- background colors --- */
$bgColor: color('blue');


/* --- font colors --- */
$fontColor--base: color('space');
