/**
 * theme-settings/colors
 * Theme colors.
*/

/* --- colors map --- */

$colors: (

    /* Gray */
    gray-dk: #202026,
    gray-md: #414146,
    gray-lt: #616166,

    /* Blue */
    blue-dk: #26A4BF,
    blue-md: #4DC3D5,
    blue-lt: #73E1EA,
);


/* --- colors helper function --- */

@function color($color) {

    @if map-has-key($colors, $color) {
        @return map-get($colors, $color)
    }

    @warn "Color '#{$color}' not found in 'colors' map.";
    @return null;
}


/* --- background colors --- */
$bgColor: #f6f6f6;


/* --- font colors --- */
$fontColor--base: color('gray-dk');
