/**
 * components/header/__base
 * Header component base styles.
*/

.header {
    background-color: color('gray-md');
    padding-top: 60px;

    &__container {
        @extend %outer-container;
    }

    &__title {
        color: #ddd;
        margin: 40px 0;
        font-weight: 700;
        text-align: center;
        letter-spacing: 5px;
        cursor: default;
    }
}
