/**
 * components/header/__base
 * Header component base styles.
*/

.header {
    padding: 40px 0;
    background-color: color('gray-md');

    &__container {
        @extend %outer-container;
    }

    &__title {
        margin: 0;
        color: #ddd;
        font-weight: 700;
        text-align: center;
        letter-spacing: 5px;
        cursor: default;
    }
}
