{#
    Page: Component Test
    ---------------------------------------------
    Reference: component-test
    @author Keenan Staffieri
#}

{% extends 'layout/layout.html' %}


{# --- additional stylesheets ----------------------------- #}

{% block stylesheets %}

<link rel="stylesheet" href="{{ '/css/page/component-test.css' | cachebust }}">

{% endblock %}


{# --- content -------------------------------------------- #}

{% block content %}

<h2>Component Test Page</h2>

{# Component: Copy-A #}
{% include 'component/copy/copy-a.html' with {
    eyebrow: 'Testing...',
    headline: 'Component Test.',
    content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, cupiditate!',
} only %}

{% endblock %}


{# --- additional scripts --------------------------------- #}

{% block scripts %}

<!-- build:js /js/page/component-test.js -->
<script type="text/javascript" src="/js/component/Component.js"></script>
<script type="text/javascript" src="/js/page/component-test.js"></script>
<!-- endbuild -->

{% endblock %}
