{#
  Page: Test Page
  ---------------------------------------------
  Reference: test-page
  app/view/page/test-page
  @author Keenan Staffieri
#}

{% import 'macro/render.njk' as render %}

{% extends 'layout/layout.njk' %}

{# --- additional stylesheets ----------------------------- #}

{% block stylesheets %}
<link rel="stylesheet" href="css/page/test-page.css">
{# <link rel="stylesheet" href="{{ '/css/page/test-page.css' | cachebust }}"> #}
{% endblock %}

{# --- content -------------------------------------------- #}

{% block content %}

<div class="page-wrap page-wrap--test-page" data-page-ref="test-page" data-page-name="Test Page">

  {# Component: Copy Block #}
  {{ render.component('copy-block', {
    heading: 'Hello, World!',
    content: '<p>Say "Hello" to the first-ever component!</p>'
  }) }}

</div> {# .page-wrap--test-page #}

{% endblock %}

{# --- additional scripts --------------------------------- #}

{% block scripts %}
<!-- build:js /js/page/test-page.js -->
<script type="text/javascript" src="/js/component/_base/Component.js"></script>
<script type="text/javascript" src="/js/page/test-page.js"></script>
<!-- endbuild -->
{% endblock %}
