/**
 * base-styles/buttons/default
 * Button (default) styles.
 * @author Keenan Staffieri
*/

/* --- placeholder selectors ------------------------------ */

%btn {
    display: inline-block;
    margin: 5px 0;
    padding: 19px 40px;
    background-color: color('blue');
    color: white;
    text-align: center;
    text-decoration: none;
    border: 0;
    cursor: pointer;
    transition: background-color 100ms ease-out;
    @include font-aa;

    &:hover {
        color: white;
        background-color: color('blue-light');
    }
}


/* --- generic extends ------------------------------------ */

.btn { @extend %btn; }
