{#
  Page: Index
  ---------------------------------------------
  Reference: index
  admin/index
  @author Keenan Staffieri
#}

{% extends 'layout/layout.njk' %}

{# --- content -------------------------------------------- #}

{% block content %}

<h1>Admin</h1>

{% endblock %}
