/**
 * components/footer/__base
 * Footer component base styles.
*/

.footer {

    &__container {
        @extend %outer-container;
    }

    &__copyright {
        display: block;
        color: color('gray-lt');
        font-size: em(12px);
        text-align: center;
    }
}
