/**
 * components/footer/__base
 * Footer component base styles.
*/

.footer {
    background-color: black;
    padding: 30px 0;

    &__container {
        @extend %outer-container;
    }

    &__copyright {
        display: block;
        color: color('gray-md');
        font-size: em(12px);
        text-align: center;
    }
}
