/**
 * styleguide/partials/footer/footer
 * Footer base styles.
 * @author Keenan Staffieri
*/

/* --- variables ------------------------------------------ */

$ns: '.sg-footer';


/* --- styles --------------------------------------------- */

#{$ns} {
    padding: 50px 0;

    &__copyright {
        display: block;
        color: #888;
        text-align: center;
    }
}
