<!DOCTYPE html>
<html>
  <head>
    {% include 'view/partial/head.njk' %}
    {% include 'view/partial/stylesheets.njk' %}
    {% block stylesheets %}{% endblock %}
  </head>
  <body>

    {# Header #}
    {% include 'view/partial/header.njk' %}

    {# Content #}
    {% block content %}{% endblock %}

    {# Footer #}
    {% include 'view/partial/footer.njk' %}

    {# Scripts #}
    {% include 'view/partial/scripts.njk' %}
    {% block scripts %}{% endblock %}

  </body>
</html>
