{#
    Copy-B
    ----------------------------------------------------------------------
    view/component/copy/copy-b
    @author Keenan Staffieri
    Sample Embed Code:
#}
{# Component: Copy-B #}
{#
{% include 'component/copy/copy-b.html' with {
    headline: 'New Component',
    description: 'Welcome to your new component!',
} only %}
#}

{% set ns = 'component-copy-b' %}

{% set extraClasses = '' %}

{% if theme %}
    {% set extraClasses += ' ' + ns + '--' + theme %}
{% endif %}

{% if customClasses %}
    {% set extraClasses += ' ' + customClasses %}
{% endif %}

{% if ref %}
    {% set refId = 'id="' + ref + '" ' %}
{% endif %}

<section {{ refId }}class="component {{ns}}{{ extraClasses }}" data-component-name="Copy-B">
    <div class="{{ns}}__container">

        <h2 class="{{ns}}__headline">
            {{ headline }}
        </h2>

        <p class="{{ns}}__description">
            {{ description }}
        </p>

    </div> {# __container #}
</section> {# END #}
