{#
    Copy-A
    ----------------------------------------------------------------------
    view/component/copy/copy-a
    @author Keenan Staffieri
    Sample Embed Code:
#}
{# Component: Copy-A #}
{#
{% include 'component/copy/copy-a.html' with {
    eyebrow: 'Testing...',
    headline: 'Component Test.',
    content: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, cupiditate!',
} only %}
#}

{% set ns = 'component-copy-a' %}

{% set extraClasses = '' %}

{% if theme %}
    {% set extraClasses += ' ' + ns + '--' + theme %}
{% endif %}

{% if customClasses %}
    {% set extraClasses += ' ' + customClasses %}
{% endif %}

{% if ref %}
    {% set refId = 'id="' + ref + '" ' %}
{% endif %}

<section {{ refId }}class="component {{ns}}{{ extraClasses }}" data-component-name="Copy-A">
    <div class="{{ns}}__container">

        {% if eyebrow %}
            <span class="{{ns}}__eyebrow">
                {{ eyebrow }}
            </span>
        {% endif %}

        <h2 class="{{ns}}__headline">
            {{ headline }}
        </h2>

        <p class="{{ns}}__content">
            {{ content }}
        </p>

    </div> {# __container #}
</section> {# END #}
