/**
 * styleguide/scss/component/backtotop
 * Back To Top styles.
 * @author Keenan Staffieri
*/

/* --- variables ------------------------------------------ */

// Namespace
$ns: '.sg-backtotop';

/* --- styles --------------------------------------------- */

#{$ns} {
  position: fixed;
  right: -999px;
  bottom: 25px;
  @include size(50px);
  background-color: #4a4e59;
  color: white;
  opacity: 0;
  overflow: hidden;
  transform: translate3d(0, 20px, 0);
  transition: background-color 250ms ease-out,
              opacity 250ms ease-out,
              transform 250ms ease-out,
              right 0ms linear 250ms;

  &:hover {
    background-color: #33353a;
  }

  &--show {
    right: 25px;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    transition: background-color 250ms ease-out,
                opacity 250ms ease-out,
                transform 250ms ease-out,
                right 0ms linear;
  }

  svg {
    position: absolute;
    left: 15px;
    top: 14px;
    fill: #eef1f7;
    transform: rotate(90deg);
  }
}
