/**
 * app/scss/base-style/table/bordered
 * Bordered table styles.
 * @author Keenan Staffieri
 */

/* --- placeholder selectors ------------------------------ */

// --- Bordered Table -------------------------------------
%table-bordered {
  td,
  th {
    border-right: 1px solid color('misty-s1');
  }

  td:first-child,
  th:first-child {
    border-left: 1px solid color('misty-s1');
  }

  thead tr th {
    border-top: 1px solid color('misty-s1');
  }

  tbody tr:last-child td,
  tbody tr:last-child th {
    border-bottom: 1px solid color('misty-s1');
  }
}
