/**
 * typography/anchors
 * Anchor styles.
*/

/*
    Placeholder styles
*/

%inline-anchor {
    color: color('blue');
    font-weight: 700;
    text-decoration: none;
    transition: color 100ms ease-out;

    &:hover {
        color: color('blue-light');
    }
}


/*
    Generic extends
*/

a { @extend %inline-anchor; }
