/**
 * typography/links
 * Link styles.
*/

/*
    Placeholder styles
*/

%divider {
    margin: 60px 0;
    border: 0;
    border-bottom: 1px solid color('gray-light');
}


/*
    Generic extends
*/

hr { @extend %divider; }
