/**
 * typography/links
 * Link styles.
*/

/*
    Placeholder styles
*/

%inline-link {
    color: color('blue');
    font-weight: 700;
    text-decoration: none;
    transition: color 100ms ease-out;

    &:hover {
        color: color('blue-light');
    }
}


/*
    Generic extends
*/

a { @extend %inline-link; }
