/**
 * base-styles/typography/lists
 * List styles.
 * @author Keenan Staffieri
*/

/* --- placeholder selectors ------------------------------ */

%default-list {
    margin: 10px 0 50px 0;
    padding: 0 0 0 30px;
    @include font-aa;

    ul,
    ol {
        margin: 0;
    }

    li {
        position: relative;
        margin: 20px 0;
        color: color('gray-dk-lighter');
    }
}

%list-unordered {
    @extend %default-list;
    padding-left: 60px;
    list-style: none;

    li:before {
        position: absolute;
        left: -50px;
        top: 10px;
        content: '';
        width: 26px;
        border-bottom: 1px solid color('gray-dk-lighter');
    }
}

%list-ordered {
    @extend %default-list;
}

%list-unstyled {
    @extend %default-list;
    margin: 0;
    padding: 0;
    list-style: none;

    li:before { display: none; }
}

%list-inline {
    @extend %list-unstyled;

    li {
        display: inline-block;
        padding: 0 15px;
    }

    li:first-child {
        padding-left: 0;
    }
}

%list--condensed {
    li {
        margin: 10px 0;
        font-size: 14px;
    }
}


/* --- generic extends ------------------------------------ */

ul               { @extend %list-unordered; }
ul.list-unstyled { @extend %list-unstyled; }
ul.list-inline   { @extend %list-inline; }
ol               { @extend %list-ordered; }

// Modifiers
ul.list--condensed,
ol.list--condensed {
    @extend %list--condensed;
}
