/**
 * tables/bordered
 * Bordered table styles.
 * @author Keenan Staffieri
*/

/* --- placeholder selectors ------------------------------ */

%table-bordered {
    td,
    th {
        border-right: 1px solid color('gray-lighter');
    }

    td:first-child,
    th:first-child {
        border-left: 1px solid color('gray-lighter');
    }

    thead tr th {
        border-top: 1px solid color('gray-lighter');
    }

    tbody tr:last-child td,
    tbody tr:last-child th {
        border-bottom: 1px solid color('gray-lighter');
    }
}


/* --- generic extends ------------------------------------ */

table.table--bordered { @extend %table-bordered; }
