/**
 * app/scss/base-style/control/input
 * Form input styles.
 * @author Keenan Staffieri
*/

/* --- placeholder selectors ------------------------------ */

// --- All Inputs -----------------------------------------
%input {
  margin: 5px 0;
  padding: 15px;
  border: 1px solid color('misty-s1');

  &[disabled] {
    background-color: color('misty-s2');
    cursor: not-allowed;
  }

  &[readonly] {
    cursor: not-allowed;
  }
}

// --- Text Input ---------------------------------------==
%input-text {
  width: 100%;

  @include media ($small-up) {
    width: 300px;
    max-width: 100%;
  }
}

// --- Number Input ---------------------------------------
%input-number {
  width: auto;
  text-align: center;
}
