/**
 * app/scss/base-style/control/radio
 * Form radio styles.
 * @author Keenan Staffieri
*/

/* --- placeholder selectors ------------------------------ */

%radio {
  margin: 10px 0;

  &.radio--disabled {
    color: color('gray-s2');

    input { opacity: 0.75; }
    label { cursor: not-allowed; }
  }

  input { margin: 0 5px 0 0; }
}

%radio-inline {
  margin-right: 20px;

  &:last-child { margin-right: 0; }

  &.radio--disabled {
    color: color('gray-s2');
    cursor: not-allowed;

    input { opacity: 0.75; }
  }
}
