/**
 * styleguide/scss/base
 * Styleguide page specific styles.
 * @author Keenan Staffieri
*/

body {
  background-color: white;

  @include media ($small-up) {
    background-color: #f8f8f8;
  }
}

@import 'component/example';
@import 'component/color-section';
@import 'component/backtotop';
@import 'prism-overrides';

.sg-page-wrap {
  margin-top: 100px;
}

.sg-container {
  @extend %outer-container;
  padding: 15px;

  @include media ($small-up) {
    padding: 30px;
  }
}

.sg-section {
  padding-bottom: 50px;
}

.sg-element-section {
  margin: 100px 0;
  padding: 0;

  @include media ($small-up) {
    background-color: white;
    padding: 50px;
  }
}

.sg-colors-container {
  @extend %clearfix;
}
