/**
 * app/scss/base-style/typography/address
 * Address styles.
 * @author Keenan Staffieri
*/

/* --- placeholder selectors ------------------------------ */

// --- Address --------------------------------------------
%address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 24px;
}
