/**
 * scss/base-style/typography/heading
 * Headings styles.
 * @author Keenan Staffieri
*/

/* --- placeholder selectors ------------------------------ */

// --- Styles shared by headings 1-6
%heading-1,
%heading-2,
%heading-3,
%heading-4,
%heading-5,
%heading-6 {
    @include font-aa;
}

// --- Styles shared by headings 1, 3-6
%heading-1,
%heading-3,
%heading-4,
%heading-5,
%heading-6 {
    @include font($fontFamily--base, 700);
}


/*
    Specific placeholder element heading styles
*/

%heading-1 {
    margin: 40px 0 80px;
    font-size: 55px;
    line-height: 56px;
    letter-spacing: -3px;

    @include media($small-up) {
        font-size: 142px;
        line-height: 120px;
    }
}

%heading-2 {
    margin: 30px 0 60px;
    color: color('blue');
    @include font($fontFamily--base, 800);
    font-size: 55px;
    line-height: 56px;
    letter-spacing: -2px;

    @include media($small-up) {
        font-size: 90px;
        line-height: 90px;
    }
}

%heading-3 {
    margin: 20px 0 40px;
    font-size: 38px;
    line-height: 40px;
    letter-spacing: -2px;

    @include media($small-up) {
        font-size: 80px;
        line-height: 80px;
    }
}

%heading-4 {
    margin: 10px 0 30px;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: -1px;

    @include media($small-up) {
        font-size: 45px;
        line-height: 48px;
    }
}

%heading-5 {
    margin: 10px 0 20px;
    font-size: 38px;
    line-height: 40px;
    letter-spacing: -1px;
}

%heading-6 {
    margin: 5px 0 10px;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: -1px;

    @include media($small-up) {
        font-size: 28px;
        line-height: 36px;
    }
}


/* --- generic extends ------------------------------------ */

h1 { @extend %heading-1; }
h2 { @extend %heading-2; }
h3 { @extend %heading-3; }
h4 { @extend %heading-4; }
h5 { @extend %heading-5; }
h6 { @extend %heading-6; }
