/**
 * scss/base-style/typography/inline-text-element
 * Inline text element styles.
 * @author Keenan Staffieri
*/

/* --- placeholder selectors ------------------------------ */

%marked-text {
    padding: 3px 8px 1px 8px;
    color: white;
    background-color: color('orange');
}

%deleted-text {
    padding: 3px 8px 1px 8px;
    background-color: color('rose-lighter');
}

%strikethrough-text {

}

%inserted-text {
    padding: 3px 8px 1px 8px;
    background-color: color('green-lightest');
}

%underlined-text {

}

%small-text {
    font-size: 75%;
}

%bold-text {

}

%italic-text {

}

%abbreviated-text {
    text-decoration: none;
    border-bottom: 2px solid color('blue-light');
    cursor: help;
}

%cited-text {

}
