/**
 * app/scss/base-style/typography/link
 * Link styles.
 * @author Keenan Staffieri
*/

/* --- placeholder selectors ------------------------------ */

%inline-link {
  color: color('blue');
  font-weight: 700;
  text-decoration: none;
  transition: color 100ms ease-out;

  &:hover {
    color: #333;
  }
}
