/**
 * app/scss/base-style/typography/link
 * Link styles.
 * @author Keenan Staffieri
*/

/* --- placeholder selectors ------------------------------ */

// --- Inline Link ----------------------------------------
%inline-link {
  color: color('aqua-s2');
  font-weight: 700;
  text-decoration: none;
  transition: color 200ms $ease-out-cubic;

  &:hover {
    color: color('aqua-s1');
  }
}
