{#
  Copy Block
  ----------------------------------------------------------------------
  app/view/component/copy-block
  @author Keenan Staffieri
  Sample Embed Code:
#}
{# Component: Copy Block #}
{#
{% include 'component/copy-block.html' with {
  headline: 'New Component',
  description: 'Welcome to your new component!',
} only %}
#}

<h1>Copy Block</h1>
