<section id="section-buttons" class="sg-section">

    <div class="sg-container">

        {# -------- STYLEGUIDE SECTION ---------
            5. Buttons
            ------------------------------------- #}
        {% include 'styleguide/sections/partials/section-heading.html' with {
            title: '5. Buttons'
        } only %}


        {# -------------------------------------- #}


        {# --------------------------------------
            Default
            ------------------------------------- #}
        {% include 'styleguide/sections/partials/section-block.html' with {
            heading: 'Default',
            description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, a.',
            exampleCode: '<a href="#" class="btn">Button</a>',
            subsections: [
                {
                    heading: 'Fixed Width',
                    description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, a.',
                    exampleCode: '<a href="#" class="btn btn--fixed-width">Button</a>',
                },
                {
                    heading: 'Large',
                    description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, a.',
                    exampleCode: '<a href="#" class="btn btn--large">Button</a>',
                },
            ],
        } only %}


        {# --------------------------------------
            Secondary
            ------------------------------------- #}
        {% include 'styleguide/sections/partials/section-block.html' with {
            heading: 'Secondary',
            description: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit.',
            exampleCode: '<a href="#" class="btn btn--secondary">Button</a>',
        } only %}

    </div> {# .sg-container #}

</section> {# .sg-section #}
