<section id="section-buttons" class="sg-section">

    <div class="sg-container">

        <h2 class="heading-section">5. Buttons</h2>

        <div class="sg-element-section">

            <h3>Default</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, a.</p>
            <hr>
            <div class="sg-example">
                <div class="sg-example-inner">
                    <h5 class="sg-example-heading">Example</h5>
                    <a href="#" class="btn">Button</a>
                </div>
                <div class="sg-example-code">
                    <pre class="copytoclipboard"><code class="language-markup"><script type="prism-html-markup"><a href="#" class="btn">Button</a></script></code></pre>
                </div>
            </div>

            <h5>Modifiers</h5>

            <h6>Fixed Width</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, a.</p>
            <hr>
            <div class="sg-example">
                <div class="sg-example-inner">
                    <h5 class="sg-example-heading">Example</h5>
                    <a href="#" class="btn btn--fixed-width">Button</a>
                </div>
                <div class="sg-example-code">
                    <pre class="copytoclipboard"><code class="language-markup"><script type="prism-html-markup"><a href="#" class="btn btn--fixed-width">Button</a></script></code></pre>
                </div>
            </div>

            <h6>Large</h6>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas, a.</p>
            <hr>
            <div class="sg-example">
                <div class="sg-example-inner">
                    <h5 class="sg-example-heading">Example</h5>
                    <a href="#" class="btn btn--large">Button</a>
                </div>
                <div class="sg-example-code">
                    <pre class="copytoclipboard"><code class="language-markup"><script type="prism-html-markup"><a href="#" class="btn btn--large">Button</a></script></code></pre>
                </div>
            </div>

        </div>

        <div class="sg-element-section">

            <h3>Secondary</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <hr>
            <div class="sg-example">
                <div class="sg-example-inner">
                    <h5 class="sg-example-heading">Example</h5>
                    <a href="#" class="btn btn--secondary">Button</a>
                </div>
                <div class="sg-example-code">
                    <pre class="copytoclipboard"><code class="language-markup"><script type="prism-html-markup"><a href="#" class="btn btn--secondary">Button</a></script></code></pre>
                </div>
            </div>

        </div>

    </div>

</section>
