{#
  <%= COMPONENT_NAME =%>
  ----------------------------------------------------------------------
  app/view/component<%= COMPONENT_DIRPATH =%>/<%= COMPONENT_REF =%>
  @author <%= AUTHOR =%>
#}

{# Namespace #}
{% set ns = 'component-<%= COMPONENT_REF =%>' %}

{# Component Reference ID #}
{% set componentRef = '<%= COMPONENT_REF =%>' %}

{# Component Name #}
{% set componentName = '<%= COMPONENT_NAME =%>' %}

{# Extends base component, bootstrap variables #}
{% extends 'component/_base/component.njk' %}

{# BEGIN: Component definition block ----------------------------- #}
{% block component %}

<div class="{{ns}}__container">

  <h2 class="{{ns}}__heading">
    {{ opts.heading | safe }}
  </h2>

  <div class="{{ns}}__content">
    {{ opts.content | safe }}
  </div>

</div> {# __container #}

{% endblock %}
{# END: Component definition block ----------------------------- #}
