/**
 * scss/variable/color
 * Theme colors.
 * @author Keenan Staffieri
*/

/* --- colors map --- */

$colors: (
    'black':      #191919,
    'white':      #FFFFFF,
    'silver':     #C1C1C1,
    'silver-dk':  #6c6c6c,
    'gold':       #B29E62,
    'blue':       #258EA6,
    'blue-dk':    #233D4D,
);


/* --- background color --- */
$pageBgColor: white;


/* --- font colors --- */
$fontColor--base: #3a3a3a;
