/**
 * styleguide/partials/header/topnav
 * Top Navigation styles.
 * @author Keenan Staffieri
*/

/* --- variables ------------------------------------------ */

$ns: '.sg-topnav-mobile';


/* --- styles --------------------------------------------- */

#{$ns} {
    height: 100%;

    &__burger,
    &__close {
        position: absolute;
        left: 5px;
        top: 5px;

        svg {
            fill: #eef1f7;
        }
    }

    &__close {
        display: none;
        left: 8px;
        top: 9px;
    }

    &__logo {
        position: absolute;
        left: 45px;
        top: 10px;
        // temp...
        color: #e0e3ea;
        letter-spacing: 1px;
    }

    &__list {
        @extend %clear-list;
        position: relative;
        left: 0;
        top: 40px;
        width: 100%;
        height: 0;
        overflow: hidden;
        background-color: #e0e3ea;
    }

    &__list--expanded {
        height: auto;
    }

    &__item {
        display: block;
        height: 100%;
        margin: 0;

        &:first-child { display: none; }
    }

    &__link {
        display: inline-block;
        padding: 19px 15px;
        color: #4a4e59;
        font-weight: 500;
        @include font-aa;

        &:hover {
            color: #7fc6f5;
        }
    }

    &__link--active {
        color: #7fc6f5;
    }

    @include media($small-up) {
        display: none;
    }
}
