<!DOCTYPE html>
<html>
    <head>
        {# Head #}
        {% include 'partials/head.html' with {
            title: 'Silvvr',
            meta_description: 'My website.'
        } only %}

        {% include 'partials/stylesheets.html' %}
    </head>
    <body>

        {# Header #}
        {% include 'partials/header.html' with {
            title: 'Silvvr'
        } only %}

        {# Content #}
        {% block content %}{% endblock %}

        {# Footer #}
        {% include 'partials/footer.html' %}

        {# Scripts #}
        {% include 'partials/scripts.html' %}
    </body>
</html>
